
<div class="page-width section-collection collection1">
	
{% for block in section.blocks limit: section.blocks.size %}

  {%- assign collection = collections[blocks.settings.collection] -%}

  {% case section.settings.grid %}
    {% when 2 %}
      {%- assign max_height = 530 -%}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign max_height = 345 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign max_height = 250 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign max_height = 195 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  {% endcase %}

  {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}
  	
	<div class="colect-descr">
    	<span>{{ collection.title }}</span>
  		<p>{{ collection.description }}</p>
	</div>
  <ul>
    {% for product in collection.products limit: product_limit %}
      <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
       
        {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
        
        <form action="/cart/add" method="post" id="product-form- {{ product.id }}">
          <input type="hidden" name="id" value="{{ product.variants.first.id }}">
          <div class="custom-add-to-cart">
          	<button type="submit" name="add">Add to cart - {% include 'product-price' %}</button>
          </div>
        </form>
      </li>
    {% else %}

      {% for i in (1..product_limit) %}
        <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
          <div class="grid-view-item product-card">
            <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="#">
              <span class="visually-hidden">{{ 'homepage.onboarding.product_title' | t }}</span>
            </a>
            <div class="grid-view-item__image-wrapper">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
            <div class="h4 grid-view-item__title" aria-hidden="true">{{ 'homepage.onboarding.product_title' | t }}</div>
            {% include 'product-price' %}
          </div>
        </li>

      {% endfor %}
    {% endfor %}
  </ul>

 {% endfor %}   
  {% if section.settings.show_view_all %}
    <hr class="hr--invisible" aria-hidden="true" />
    <div class="text-center">
      <a href="{{ collection.url }}" class="btn" aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}">
       {% comment %} {{ 'collections.general.view_all' | t }} {% endcomment %}
        
      </a>
    </div>
  {% endif %}
  

   {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}

</div>



{% schema %}
{
  "name": {
   
    "en": "Collection List"
    
  },
  "class": "index-section",
  "max_blocks": 12,
	
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        
        "en": "Heading"
      },
      "default": {
        
        "en": "Collection List"
      }
    },
	 {
      "type": "range",
      "id": "grid",
      "label": {
        
        "en": "Products per row"
        
      },
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
	{
      "type": "range",
      "id": "rows",
      "label": {
       
        "en": "Rows"
      },
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 2
    },
	{
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "en": "Show product vendors"
	  },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": {
        
        "en": "Show 'View all' button"
      },
      "default": false
    }
	],
	 "blocks": [
    {
		"type": "collection",
      "name": {
        
        "en": "Collection"
      },
      "settings": [
        {
          "label": {
           
            "en": "Collection"
          },
          "id": "collection",
          "type": "collection"
		}
		]
	}
	],
	
  "presets": [
    {
      "name": {
        "en": "Collection List"
      },
      "category": {
        
        "en": "Collection"
      },
	"blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
