/* .template-page .page-container{margin-top:-80px;} */
.template-page.page-aroma-collection .page-container{margin-top:0px;}
header.site-header .grid .site-header__logo a{
	background-color:transparent!important;
}
html.js.js-focus-visible{padding-bottom:0!important;}
.page-about-us .feature-row1 .featured-row__subtext p{max-width: 294px;}
.slideshow__slide.second .slideshow__text-wrap .page-width .slideshow__title, 
.slideshow .slideshow__slide:nth-child(4) .slideshow__text-wrap .slideshow__text-content h2{
    width: 430px;
    margin: 0 auto;
    margin-left: auto;
    text-align: left;
    margin-left: 0px;
    color: #000;
    margin-bottom: 13px;
    font-family: 'GT America';
}
.template-page header.site-header .grid{
	padding-left:0;
  	padding-right:0;
}
.page-about-us .hero--medium{
  	height:673px;
}
.about-us-philoshofy .grid--flush-bottom .grid__item {
    width: 25%;
    text-align: center;
  	padding:0 30px;
  	margin-bottom:0;
}
.about-us-philoshofy .grid--flush-bottom .grid__item p{
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	opacity: 0.7;
	word-break: break-word;
}
.about-us-philoshofy .grid--flush-bottom .grid__item .feature-row__image-wrapper {
	min-height: 110px;
	max-height: 110px;
}
.main-content .shopify-section .rich-text .rich-text__heading--large h2 {
/*     font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.214286px; */
    max-width: 590px;
    margin: 0 auto;
    margin-bottom: 30px;
  	font-family: 'GT America';
  	color:#000;
}
.page-about-us .medium-up--five-sixths {
  	display: none;
}
 .page-width.about-us-philoshofy {
/*     max-width: 100%; */
/*    	max-width:1440px; */
  	padding:50px 0;
  	background: #2B4658;
  	color:#fff;
}
#shopify-section-about-us-philoshofy{
/* 	background: #2B4658; */
}
#shopify-section-about-us-philoshofy .page-width .grid--flush-bottom {
    display: flex;
    justify-content: center;
  	width:100%;
  	vertical-align: middle;
  	margin:0;
}
.template-product .product-single__title {
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 0.846154px;
    font-weight: 100;
    text-transform: uppercase;
}
.template-product .product-form__cart-submit{
	border-radius: 33px;
    width: 139px;
    float: left;
    margin-right: 21px;
  	font-size: 12px;
	line-height: 24px;
	letter-spacing: 1.15px;
	text-transform: uppercase;
	color: #000000;
}
.template-product .shopify-payment-button .shopify-payment-button__button--unbranded{
	width:34%;
  	border-radius:50px;
}
.template-product .product-single__description{
	margin-top:-21px;
  	font-size: 12px;
	line-height: 20px;
	color: #000000;
  	width:322px;
}
.template-collection .medium-up--one-quarter{
	text-align:center;
}
.template-collection .grid-view-item__image-wrapper{
	margin:0 auto 26px;
}
.template-collection .price{
	margin-top:7px;
  	align-items:center;
  	font-size: 10px;
	line-height: 13px;
	letter-spacing: 0.533333px;
	color: #000000;
  	opacity:0.7;
}
.template-collection .h4.grid-view-item__title.product-card__title{
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000000!important;
}
header.site-header nav#AccessibleNav{
	position:absolute;
  	top:0;
  	left:-56px;
  	height:100vh;
  	width:auto;
  padding-right:50px;
  	background:white;
}
header.site-header nav#AccessibleNav.desk-menu {
    width: 62%;
}
header.site-header .icon.icon-hamburger{
	position:absolute;
  	top:32%;
  	z-index:5;
}
header.site-header nav#AccessibleNav .site-nav{
	padding-top:60px;
 	padding-left:100px;
}
header.site-header nav#AccessibleNav .site-nav li .site-nav__dropdown ul li a{
	max-width:150px;
}
.footer-news-text{
	font-size: 10px;
	line-height: 15px;
	letter-spacing: 0.958333px;
	color: #000000;
  	margin-top:12px;
  	width:248px;
}
/* .footer-soci-link{
	display:block;
   	float:right; 
  	width:23.6%;
  	margin-top:-70px;
} */
.footer-soci-link h4{
	margin-bottom:0;
}
ul.list--inline.site-footer__social-icons.social-icons.site-footer__icon-list{
    display: flex;
  	margin-top:0!important;
  	padding-top:20px;
}
.footer-soci-link .list--inline>li:nth-child(1){
	order:1;
}
.footer-soci-link .list--inline>li:nth-child(2){
	order:3;
}
.footer-soci-link .list--inline>li:nth-child(3){
	order:2;
}
.footer-soci-link .social-icons__item{
	padding-right:10px!important;
}
.social-icons__item{
  	padding:0;
}
.site-footer__icon-list{
	padding-bottom:0;	
}
.footer-bottom-section{
	background:black;
}
.site-footer-item-align-right{
	text-align:left;
  }
.site-footer__copyright-content {
    text-transform: uppercase;
	color:#ffffff!important;
}
.site-footer__copyright-content a{
    color: #ffffff!important;
	padding-left:4px;
  	font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.958333px;
  	text-decoration-line:unset;
}
.site-footer__copyright-content.site-footer__copyright-content--canada{
	float:right;
  	font-size: 10px;
	line-height: 15px;
	text-transform:uppercase;	
  	letter-spacing: 0.958333px;
	padding-right:10px;
  	padding-top:6px;
	color:#ffffff;
}
.site-footer__copyright-content.site-footer__copyright-content--language{
  	float:right;
	font-size: 10px;
	line-height: 15px;
	letter-spacing: 0.958333px;
	text-transform:uppercase;
	padding-top:6px;
  	color:#ffffff;
  	margin-right:10px;
}
.site-footer-item-tall{
	margin-bottom:0;
  	height:0;
}
.template-page .site-footer, .template-index .site-footer{
	padding-bottom:0;
  	margin-top:0px;
  	padding-top:0;
}
.grid.grid--no-gutters.small--text-center.grid--footer-float-right {
    padding:12px 0;
}
.site-footer__hr{
	margin:36px 0 0 0;
}
.site-header__logo-image img{
  	object-fit:contain;
}
header.site-header nav#AccessibleNav .site-nav li.site-nav--active-dropdown .site-nav__link[aria-expanded="true"] .site-nav__label {
    border-color: #000000;
}
.shopify-section header.site-header nav#AccessibleNav.desk-menu{
	width:510px;
}
.shopify-section header.site-header nav#AccessibleNav.desk-menu2{
	width:860px;
}
.site-footer__item-inner--newsletter .newsletter__input:focus {
    outline: none;
}
.site-footer__item-inner--newsletter .newsletter__input{
	padding:0;
  	margin:0;
}

.slideshow__slide.third .slideshow__text-wrap .page-width .slideshow__title, 
.slideshow .slideshow__slide:nth-child(5) .slideshow__text-wrap .slideshow__text-content h2{
    max-width: 250px;
    margin-top: 63px;
    text-align: left;
    color: black;
    font-weight: 100;
  	margin-bottom:13px;
  	font-size: 40px;
	line-height: 48px;
  	letter-spacing: -0.285714px;
    font-family: 'GT America';

}
.page-b2b-landing .mega-subtitle, .slideshow__slide.third .slideshow__text-wrap .page-width .slideshow__subtitle, 
.slideshow .slideshow__slide:nth-child(5) .slideshow__text-wrap .slideshow__text-content .slideshow__subtitle, 
.slideshow .slideshow__slide:nth-child(4) .slideshow__text-wrap .slideshow__text-content .slideshow__subtitle{
    width: 375px;
    text-align: left;
    margin: 0;
  	font-size: 16px;
	line-height: 24px;
    margin-bottom: 30px;
  	display:block;
}
.page-b2b-landing .mega-subtitle p, .slideshow__slide.third .slideshow__text-wrap .page-width .slideshow__subtitle, 
.slideshow .slideshow__slide:nth-child(5) .slideshow__text-wrap .slideshow__text-content .slideshow__subtitle, 
.slideshow .slideshow__slide:nth-child(4) .slideshow__text-wrap .slideshow__text-content .slideshow__subtitle{
 	color: #000000;
  	word-break: break-word;
}
.page-b2b-landing .btn.hero__btn, .slideshow__slide.third .slideshow__text-wrap .page-width .slideshow__btn-wrapper .slideshow__btn, 
.slideshow .slideshow__slide:nth-child(5) .slideshow__text-wrap .slideshow__text-content .slideshow__btn-wrapper .slideshow__btn, 
.slideshow .slideshow__slide:nth-child(4) .slideshow__text-wrap .slideshow__text-content .slideshow__btn-wrapper .slideshow__btn{
    float: left;
	margin-right: 26px;
	color: black;
	border: 1px solid;
	margin-top: 10px;
  	font-family: 'GT America';
}
.page-b2b-landing .b2b-power {
    
    padding: 50px 0;
/* 	max-width:100%; */
/*   	max-width:1440px; */
}
#shopify-section-b2b-text{
	background: #2B4658;
}
.page-b2b-landing .b2b-power .h4{
    color: white;
  	font-family: 'GT America';
    font-size: 16px;
    line-height: 24px;
}
.page-b2b-landing .b2b-power .p{
    color: white;
}
.page-b2b-landing .b2b-power .section-header{
	margin-bottom:50px;
}
.page-b2b-landing .b2b-power .section-header h2{
    display: block;
/*   	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.33333px; */
  	color:#fff;
  	font-family: 'GT America';
}
.page-b2b-landing .index-section {
    padding-top: 0;
}
.page-about-us .index-section{
	padding-bottom:0;
}
#shopify-section-b2b-text .grid__item .h4{
	margin:0;
}
#shopify-section-b2b-client .page-width.rich-text {
    padding-bottom: 0;
}
.page-b2b-landing .b2b-power .rte-setting p {
    font-size: 16px;
    line-height: 24px;
    width: 65%;
    text-transform: uppercase;
    margin: 0 auto;
  	color:#fff;
  	opacity:0.7;
}
.b2b-power .feature-row__image-wrapper {
    margin-bottom: 58px;
  	min-height:60px;
}
.template-page .site-footer {
    padding-bottom: 0;
  
}
.page-b2b-landing .rich-text__text--medium.rte-setting.text-center p {
    margin-bottom: 62px!important;
}
#shopify-section-brand .page-width.feature-row {
/*     max-width: 100%; */
    padding: 0;
  	border-top:1px solid #979797;
}
#shopify-section-brand .page-width.feature-row .feature-row__image-wrapper{
    max-width: 100%;
    max-height: 500px;
    margin: 0;
  	display:flex;
}
#shopify-section-brand .feature-row__image-wrapper .feature-row__image{
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: 50% 80%;
}
#shopify-section-brand .featured-row__subtext p {
    color: black;
    font-size: 16px;
    line-height: 24px;
    width: 54%;
    margin: 0 auto;
}
#shopify-section-brand .feature-row__item.feature-row__text.feature-row__text--right .h4 {
    color: black;
/*     font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.33333px; */
    margin: 0 auto;
    max-width: 220px;
    margin-bottom: 30px;
    font-weight: normal;
  	font-family: 'GT America';
}

#shopify-section-emotional .page-width.feature-row {
/*     max-width: 100%; */
    padding: 0;
}
#shopify-section-emotional .page-width.feature-row .feature-row__image-wrapper{
    max-width: 100%;
    max-height: 500px;
    margin: 0;
  	display:flex;
}
#shopify-section-emotional .feature-row__image-wrapper .feature-row__image{
    max-width: 100%;
    max-height: 500px;
  	object-fit: cover;
    object-position: 50% 19%;
}
#shopify-section-emotional .featured-row__subtext p {
    color: black;
    font-size: 16px;
    line-height: 24px;
    width: 54%;
    margin: 0 auto;
}
#shopify-section-emotional .feature-row__item.feature-row__text.feature-row__text--left .h4 {
    color: black;
/*     font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.33333px; */
    margin: 0 auto;
/*     width: 54%; */
  	max-width:200px;
    margin-bottom: 30px;
    font-weight: normal;
    font-family: 'GT America';
}
#shopify-section-powerful .page-width.feature-row {
/*     max-width: 100%; */
    padding: 0;
  	border-bottom: 1px solid #979797;
}
#shopify-section-powerful .page-width.feature-row .feature-row__image-wrapper{
    max-width: 100%;
    max-height: 500px;
    margin: 0;
  	display:flex;
}
#shopify-section-powerful .feature-row__image-wrapper .feature-row__image{
    max-width: 100%;
    max-height: 500px;
  	object-fit: cover;
    object-position: 50% 53%;
}
#shopify-section-powerful .featured-row__subtext p {
    color: black;
    font-size: 16px;
    line-height: 24px;
    width: 54%;
    margin: 0 auto;
}
#shopify-section-powerful .feature-row__item.feature-row__text.feature-row__text--right .h3 {
    color: black;
/*     font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.33333px; */
    margin: 0 auto;
/*     width: 54%; */
    margin-bottom: 30px;
    font-weight: normal;
    font-family: 'GT America';
}
#shopify-section-b2b-apple-store .page-width.feature-row {
/*     max-width: 100%; */
    padding: 0;
  	border-top: 2px solid #979797;
	border-bottom: 2px solid #979797;
  	display:block;
}
#shopify-section-b2b-apple-store .page-width.feature-row .feature-row__image-wrapper{
    max-width: 100%;
    max-height: 500px;
    margin: 0;
  	display:flex;
  	min-height:500px;
}
#shopify-section-b2b-apple-store .feature-row__image-wrapper .feature-row__image{
    max-width: 100%;
    max-height: 500px;
  	object-fit: unset;
    object-position: 50% 53%;
  	min-height:500px;
}
#shopify-section-b2b-apple-store .featured-row__subtext p {
    color: black;
    font-size: 14px;
    line-height: 150%;
     max-width: 80%;
  	margin-top:20px;
}
#shopify-section-b2b-apple-store .feature-row__item.feature-row__text.feature-row__text--right .h4 {
    color: black;
/*   	font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.33333px; */
    margin-bottom: 0;
}
#shopify-section-b2b-apple-store .feature-row__item.feature-row__text.feature-row__text--right .h4 {
/*     font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.33333px; */
    margin-bottom: 0px;
}
#shopify-section-b2b-apple-store .feature-row__item{
	flex:auto;
  	width:80%;
}
#shopify-section-b2b-apple-store .feature-row__text--right{
	width:20%;
  	padding-top: 73px;
    padding-bottom: 83px;
}
#shopify-section-brand {
/*     border-top: 1px solid #979797; */
}
#shopify-section-powerful {
/*     border-bottom: 1px solid #979797; */
}
#shopify-section-b2b-client .rich-text__heading--medium.text-center .h3{
	margin-bottom:30px;
}
#shopify-section-b2b-apple-store .btn-first-b2b {
    display: block;
    background: none;
    color: #000;
    text-decoration: underline;
    font-weight: 100;
  	text-align:left;
  	text-transform: capitalize;
	font-size: 14px;
	line-height: 32px;
  	padding:0;
  	font-family: 'GT America';
}
#shopify-section-b2b-apple-store .btn-second-b2b {
    background: none;
    color: #000;
    text-decoration: underline;
    font-weight: 100;
  	padding-top:5px;
  	text-transform: capitalize;
  	font-size: 14px;
	line-height: 32px;
  	padding:0;
  	font-family: 'GT America';
}
#shopify-section-about-us-technology .page-width.feature-row {
/*     max-width: 100%; */
/*   	max-width:1440px; */
    padding: 0;
  	background:#937557;
}
#shopify-section-about-us-technology .page-width.feature-row .feature-row__image-wrapper{
    max-width: 100%;
    max-height: 500px;
    margin: 0;
  	display:flex;
}
#shopify-section-about-us-technology .feature-row__image-wrapper .feature-row__image{
    max-width: 100%;
    max-height: 500px;
  	object-fit: cover;
    object-position: 50% 50%;
}
#shopify-section-about-us-technology .featured-row__subtext p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    max-width: 300px;
    margin: 0 auto;
  	text-align:center;
  	opacity:0.7;
}
#shopify-section-about-us-technology .feature-row__item.feature-row__text.feature-row__text--right .h3 {
    color: #fff;
/*     font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.33333px; */
  	text-transform:uppercase;
    margin-bottom: 30px;
    font-weight: normal;
  	text-align:center;
  	font-family: 'GT America';
}
.footer-bottom-section .site-footer__copyright-content.site-footer__copyright-content--language::after {
    content: '';
  	display:inline-block;
	background-image:url(Path_4.png);
    width: 8px;
	height: 8px;
	background-repeat: no-repeat;
	position: absolute;
	margin-top: 3px;
	margin-left: 1px;
}
.b2b-power-page .section-feature-column .our-commit-para p {
	color: white;
    width: 625px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
  	opacity:0.7;
  	word-break: break-word;
}
.b2b-power-page .section-feature-column .our-commit-para .btn--small {
    color: white;
    border: none;
    text-decoration: underline;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    font-weight: 100;
    padding: 0;
  	opacity:0.7;
}
.b2b-power-page .section-feature-column .grid--flush-bottom .grid__item p{
	color:#fff;
  	font-size: 16px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
  	opacity:0.7;
  	word-break: break-word;
    -ms-word-break:break-all;
}
.page-width.section-feature-column.b2b-work {
    background: none;
/* 	max-width:100%; */
  	padding:50px 0;
}
.b2b-work .rte-setting p {
    font-size: 14px;
    line-height: 24.7px;
    color: #000000;
  	word-break: break-word;
  	font-weight:normal;
/*   	min-height: 65px;
	max-height: 65px; */
/* 	overflow: hidden; */
}
.section-feature-column.b2b-work .section-header h2{
/* 	font-size: 16px;
    line-height: 24px; */
    text-align: center;
/*     letter-spacing: 1.33333px; */
    text-transform: uppercase;
    margin-bottom: 30px;
  	color:#000;
}
.section-feature-column.b2b-work .grid--flush-bottom .grid__item h3 {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 27px;
    font-weight: bold!important;
    text-transform: uppercase;
    font-family: 'GT America';
  	letter-spacing: 1.33333px;
    border-bottom: 1px solid #979797;
    padding-bottom: 11px;
    color:#000;
}
.section-feature-column.b2b-work .grid--flush-bottom .grid__item{
	text-align:left!important;
  	padding-left:42px;
  	width:25%;
  	padding:0 30px;
}
.section-feature-column.b2b-work .grid--flush-bottom .grid__item:first-child{
	padding-left:0;
}
.b2b-work .feature-row__image-wrapper {
    margin: 0;
  	margin-bottom:16px;
}
.slideshow__controls .slideshow__arrow.slideshow__arrow-previous {
    display: none;
}
.slideshow__controls .slideshow__arrow.slideshow__arrow-next {
    display: none;
}
.slideshow__arrows{
	background-color: rgba(0, 0, 0, 0);
}
.slideshow__arrows .slick-dots{
	padding:0 43px;
}
.about-us-philoshofy .text-center.our-commit-para p {
    font-size: 16px;
    color: #fff;
    max-width: 60%;
  	line-height: 19px;
    margin: 0 auto;
    margin-bottom: 20px;
  	margin-top:36px;
  	opacity:0.7;
    font-family: 'GT America';
}
.about-us-philoshofy .our-commit-para .btn--small {
    color: white;
    border: none;
    text-decoration: underline;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    font-weight: 100;
    padding: 0;
    opacity: 0.7;
  	font-family: 'GT America';
}
.about-us-philoshofy .grid--flush-bottom .grid__item h3 {
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 46px;
    font-family: 'GT America';
}
.about-us-philoshofy .section-header h2 {
/*     font-size: 16px;
    line-height: 24px; */
    text-align: center;
/*     letter-spacing: 1.33333px; */
    text-transform: uppercase;
    margin-bottom: 50px;
  	font-family: 'GT America';
  	color:#ffffff;
}
/* .feature-app {
    max-width: 70%;
    margin: 0 auto;
    padding-left: 7%;
} */
.b2b-form .contact-form .grid__item.medium-up--one-half label {
    display: none;
}
.b2b-form .contact-form .grid__item.medium-up--one-half {
    padding-left: 45px;
}
.b2b-form .contact-form .grid__item.medium-up--one-half:nth-child(2) {	
	padding-left: 39px;
}
.b2b-form .contact-form select{
	background-image:url(bottom-arrow-b2b.svg);
  	background-size:24px;
  	background-position: 95% 33%;
}
.b2b-form .contact-form input.btn {
    width: 200px;
    max-height: 50px;
    background: #020202;
    margin-left: 30px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
  	font-family: 'GT America';
  	margin-top:10px;
  	font-weight:lighter;
  	color:#ffffff;
  	opacity:1;
  	margin-bottom:0;
}
.b2b-form .contact-form input, select {
    padding: 16px 30px;
  	height:56px;
  	font-size: 16px;
	font-family: 'GT America';
  	border: 0.5px solid #C3C1C1;
    box-sizing: border-box;
  	margin-bottom:20px;
  	max-width:400px;
  	color: #000000;
}
.b2b-form .contact-form textarea{
	min-height: 56px;
  	height: 56px;
  	padding: 16px 30px;
  	font-size: 16px;
	line-height: 24px;
  	max-width:400px;
  	color: #000000;
  	padding-bottom:10px;
}
form#ContactForm input::placeholder, .contact-form textarea::placeholder {
    color: gray;
    opacity: 1;
}
.b2b-form .contact-form .grid__item.medium-up--one-half:nth-child(1) {
    width: 50%;
}
.b2b-form .contact-form .grid__item.medium-up--one-half:nth-child(2) {
    width: 50%;
}
.shopify-section .page-width.b2b-form {
/* 	max-width: 1440px; */
}
#shopify-section-b2b-form{
	background: #F5F3F3;
}
#shopify-section-b2b-form .rich-text__text--medium p {
    max-width: 632px;
  	margin-bottom:30px!important;
}
#shopify-section-b2b-form .rich-text__heading--medium .h3 {
    margin-bottom: 20px;
  	font-family: 'GT America';
}
#shopify-section-b2b-slider #scentmachines.section-collection .text-center a.btn {
    display: none;
}
.b2b-work .feature-row__image-wrapper {
	max-height: 20px;
}
#shopify-section-b2b-apple-store .page-width.feature-row .feature-row {
	max-height: 500px;
}
.template-cart .list-view-item__title a.cart__product-title {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.16667px;
    text-transform: uppercase;
    color: #000000;
}
.cart__price dd {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.05px;
    color: #000000;
}
.cart__buttons-container .cart__submit.btn {
    border-radius: 47px;
    width: 299px;
    padding: 9px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'GT America';
}
#shopify-section-b2b-client .rich-text .grid .rich-text__text--medium p {
    max-width: 500px;
}
.page-about-us .main-content .shopify-section .page-width.rich-text {
    padding-bottom: 40px;
    padding-top: 40px;
}
.page-about-us .blog-slider a.btn {
    margin-bottom: 28px;
}
.hotel-btn, .hotel-shop-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
  	margin-top:33px;
  	margin-bottom:5px;
}
.b2b-hotel .hotel-btn .btn.slideshow__btn {
    border-radius: 33px;
    width:100%;
  	min-height:44px;
    background: none;
    color: #000;
    border: 1px solid #000000;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-family: 'GT America';
  	letter-spacing: 1.15px;
    margin-bottom:15px;
}
.b2b-hotel .hotel-btn .slideshow__btn-wrapper {
    width: 23%;
}
.b2b-hotel .hotel-btn .rte-setting.text-center {
    font-size: 16px;
    line-height: 24px;
}
.b2b-hotel .hotel-shop-btn .slideshow__btn-wrapper {
    width: 49%;
}
.b2b-hotel .hotel-shop-btn{
	margin-top:50px;
}
.b2b-hotel .hotel-shop-btn .btn.slideshow__btn {
    border-radius: 33px;
    display: inline-block;
    border: 1px solid #000000;
    color: #000;
    background: none;
    min-height: 44px;
    font-size: 14px;
    font-family: 'GT America';
    line-height: 24px;
    text-align: center;
    width: 100%;
    letter-spacing: 1.15px;
}
.b2b-hotel .rich-text__heading--large .h3 {
/*     font-size: 30px;
    line-height: 34px; */
/*     text-align: center; */
/*     letter-spacing: 1px; */
/*     font-weight: bold; */
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 30px;
  	font-family: 'GT America';
  	color: #000;
}
.b2b-hotel .rich-text__text--large.rte-setting p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 480px;
    margin-bottom: 50px;
}
.page-width.b2b-hotel {
    padding:50px 0;
}
#shopify-section-b2b-hotel{
	background:#F3F5F4;
}
.page-width .custom-width {
/*     max-width: 1440px; */
    margin: 0 auto;
}
.page-width .custom-width-hotel{
/* 	max-width:1440px; */
  	margin:0 auto;
}
.b2b-form .contact-form select.largespace {
    padding-left: 22px;
  	margin-bottom:20px;
}
.b2b-form .contact-form select.business {
    padding-left: 22px;
  	margin-bottom:20px;
}
.b2b-form .contact-form input.cutomscent {
    padding-left: 22px;
}
.b2b-form .contact-form textarea.message-box {
    padding-left: 22px;
}
.b2b-testimonials .quotes-slide {
    width: 700px;
    margin: 0 auto;
}
.b2b-testimonials .quote-icon{
	display:none;
}
.b2b-testimonials .quotes-slider__text p{
	font-size: 30px;
/* 	line-height: 34px; */
	text-align: center;
	letter-spacing: 1px;
  	color:#fff;
  	text-transform:capitalize;
  	margin-bottom:21px;
}
.b2b-testimonials .quotes-slider__text cite {
  	font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}
.b2b-testimonials .quotes-slider__text .caption-testomonial {
    margin-bottom: 50px;
}
blockquote cite::before{
	content: '\0020';
}
.b2b-testimonials .prev::before {
    content: '';
	background-image:url(arrow-left.svg);
  	background-repeat:no-repeat;
  	height: 30px;
    width: 20px;
  	position: absolute;
    top: 24px;  
  	left: 0;
}
.b2b-testimonials .next::after {
    content: '';
	background-image:url(arrow-right.svg);
  	background-repeat:no-repeat;
  	height: 30px;
    width: 30px;
  	position: absolute;
    top: 24px;  
  	right: 65px;
}
.b2b-testimonials .logo-bar{
	margin-bottom:0;
}
.b2b-testimonials .logo-bar__item{
	margin: 0 40px;
  	vertical-align: unset;
  	margin-bottom:25px;
}
#shopify-section-about-us-blog .blog-slider .grid .owl-stage-outer .grid__item .cust-date h3 {
    padding-top: 0px;
}
header .aromaolis-collection-list {
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.33333px;
    font-family: 'GT America';
    font-weight: 300;
}
header .nav-item a.aroma-list-category {
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0.833333px;
    text-decoration-line: underline;
}
.b2b-work .section-header{
	margin-bottom:40px;
}
#shopify-section-b2b-apple-store-mobile {
    display: none;
}
.scroll-collection .collection-product {
    display: flex;
    justify-content: space-between;
  	padding:35px 0 50px;
  	border-bottom: 1px solid #979797;
}
.collect-nav header {
/*     margin-top: 40px; */
}
.scroll-collection .collet-product .grid__item {
	padding: 0;
  	position:relative;
}
.collect-nav .aroma-oils-header .nav-title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.33333px;
    text-transform: uppercase;
    color: #000000;
  	margin-bottom:7px;
    font-family: 'GT America';
    font-weight: 100;
}
.collet-product .custom-add-to-cart {
    position: absolute;
    top: 100px;
    left: 25px;
    margin: 0 auto;
    width: 72%;
}
.section-collection.scroll-collection {
/*     background: #F3F5F4; */
/*   	max-width:1440px; */
  	margin:0 auto;
}
.category-collection-full-width {
	background: #F3F5F4;
}
.scroll-collection .collet-product {
    width: 80%;
  	text-align:center;
}
.collet-product .h4.grid-view-item__title.product-card__title {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
  	font-family: 'GT America';
}
.collet-product .price.price--listing {
    align-items: center;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.533333px;
    opacity: 0.7;
}
.nav1 .scroll-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0.833333px;
  	display:block;
  	margin-bottom:5px;
}
.colect-descr{
	width:20%;
  	max-width:140px;
}
.colect-descr span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.33333px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}
.colect-descr p {
    font-size: 10px;
    line-height: 16px;
  	padding-top:17px;
}
.collet-product .custom-add-to-cart button {
    padding: 9px 10px;
    background: #ffffff;
    border: 1px solid #979797;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 16px;
    color: #000000;
    font-weight: bold;
}
.collect-nav {
    display: block;
    width: 100%;
  	margin-top:40px;
/*   	max-width:100%; */
}
#shopify-section-custom-catagories .nav1 ul {
    margin-bottom: 10px;
}
.scroll-collection:nth-child(6) .collection-product {
    border-bottom: none;
}
.custom-slider .custom-add-to-cart button:hover {
    background: #E1E1E1;
    border: 1px solid #231F20;
}
.feature-row1 .feature-row__text a.btn:hover {
    background: #E1E1E1;
    color: #000000;
    border: 1px solid #231F20;
}
.blog-slider a.btn:hover{
	background: #E1E1E1;
    border: 1px solid #231F20;
}
.b2b-hotel .hotel-btn .btn.slideshow__btn:hover {
	background: #E1E1E1;
    border: 1px solid #231F20;
}
.b2b-hotel .hotel-shop-btn .btn.slideshow__btn:hover{
	background: #E1E1E1;
    border: 1px solid #231F20;
}
.slideshow .slideshow__slide:nth-child(5) .slideshow__text-wrap
.slideshow__text-content .slideshow__btn-wrapper .slideshow__btn:hover{
	background: #E1E1E1;
    border: 1px solid #231F20;
}
.slideshow .slideshow__slide:nth-child(3) .slideshow__text-wrap
.slideshow__text-content .slideshow__btn:hover{
	background: #E1E1E1;
    color: #000000;
    border: 1px solid #231F20;
}
.slideshow .slideshow__slide:nth-child(4) .slideshow__text-wrap
.slideshow__text-content .slideshow__btn-wrapper .slideshow__btn:hover{
	background: #E1E1E1;
    border: 1px solid #231F20;
}
.newsletter-section .input-group__btn .btn:hover{
	background: #E1E1E1;
}
.newsletter-section {
/*     padding: 27px 0 31px 0; */
  	padding:50px 0;
}
.newsletter-section .section-header .h2, .newsletter-para p {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.9px;
    color: #FFFFFF;
/*   	margin:0 auto; */
  	max-width:500px;
  	text-align:left;
/*   	text-transform: capitalize; */
  	font-family: 'GT America';
}
.newsletter-section .section-header .newsletter-para p {
	font-weight:300;
} 
.newsletter-section input.input-group__field {
    max-width: 475px;
    font-size: 14px;
    line-height: 16px;
    color: #231F20;
    padding: 8px 14px;
  	margin: 0 18px 0 0;
  	height:40px;
  	min-height:40px;
    font-family: 'GT America';
}
.newsletter-section .input-group__btn .btn {
    max-width: 123px;
    background: #ffffff;
    color:#231F20;
  	font-size: 14px;
	line-height: 24px;
	letter-spacing: 1.5px;
  	height:40px;
  	min-height:40px;
  	padding:8px 14px 8px 18px;
  	font-family: 'GT America';
}
.newsletter-section input.input-group__field::placeholder {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #231F20;
}
.newsletter-section .page-width {
    display: flex;
    justify-content: space-between;
  	align-items: center;
}
.newsletter-section .section-header.text-center {
    width: 50%;
    margin-bottom: 0;
}
.newsletter-section .form-single-field {
    width: 50%;
    margin-bottom: 0;
  	margin-right:0;
}
.site-footer h4, .site-footer .h6{
	color:#212121;
}
.site-footer__content a {
    text-transform: capitalize;
}
/* footer.site-footer {
    padding: 0;
    margin: 0;
} */
#shopify-section-newsletter.index-section{
/*  padding:0 0 25px 0; */
  	padding:0;
}
#shopify-section-contact-aroma .feature-row1 .page-width.feature-row{
	background:none;
}
.contact-page .grid__item.medium-up--one-half {
    padding-left: 15px;
}
.contact-page .grid__item.medium-up--one-half:nth-child(1) {
    max-width: 378px;
}
.contact-page .grid__item.medium-up--one-half:nth-child(2) {
    max-width: 379px;
  	padding-left:25px;
}
.contact-page .grid__item.medium-up--one-half:nth-child(3) {
    max-width: 378px;
}
.contact-page .grid__item.medium-up--one-half:nth-child(4) {
    max-width: 379px;
  	padding-left:25px;
}
.contact-page input{
	height:50px;
  	padding: 13px 36px;
  	font-size: 16px;
    font-family: 'GT America';
    line-height: 24px;
  	margin-bottom:21px;
}
.contact-page .contact-checkbox input {
    max-height: 17px;
    width: 17px;
  	margin:0;
}
.contact-page .contact-checkbox-aromatech input {
    max-height: 17px;
    width: 17px;
}
.contact-page .grid__item.medium-up--one-half label{
	display:none;
}
.contact-page label.contact-message {
	display:none;
}
.contact-page textarea {
    padding: 13px;
    max-width: 743px;
    max-height: 166px;
  	font-size: 16px;
    line-height: 24px;
    font-family: 'GT America';
  	margin-bottom:6px;
}
.contact-page input.btn{
	margin-left:0;
  	margin-top:25px;
}
.page-contact .feature-row1 .featured-row__subtext p{
	color:#000000;
  	margin: 0 auto;
    max-width: 360px;
    text-align: left;
    padding-bottom: 17px;
}
.page-contact .feature-row1 .featured-row__subtext p:nth-child(4) {
    padding: 0;
}
.page-contact .feature-row1 .featured-row__subtext p:nth-child(5) {
    padding: 0;
}
.page-contact .feature-row1 .featured-row__subtext p:nth-child(6) {
    padding: 0;
}
.page-contact .page-container {
    margin-top: 0;
}
.contact-page .contact-checkbox label.label-title {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000000;
    margin-bottom: 18px;
}
.contact-page .contact-checkbox-aromatech label.label-title {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.83px;
    color: #000000;
    margin-bottom: 18px;
}
.contact-page .contact-checkbox .check-home, .check-business {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000000;
    vertical-align: text-bottom;
  	margin-left:8px;
}
.contact-page .contact-checkbox-aromatech .check-receving-aroma{
	font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #000000;
    vertical-align: text-top;
  	margin-left:8px;
}
.contact-page .contact-checkbox {
    margin-bottom: 24px;
}
.page-contact .page-width.contact-page {
    background: #F5F3F3;
/*     max-width: 1440px; */
    margin: 0 auto;
  	padding-top: 75px;
    padding-bottom: 66px;
}
.page-contact .feature-row1 .feature-row__text a.btn {
    background: #ffffff;
    color: #000000;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.15px;
    border: 1px solid;
    padding: 13px 20px;
    margin-right: 17px;
    font-family: 'GT America';
    font-weight: bold;
  	max-width: 181px;
}
.page-contact .feature-row1 .feature-row__text a.btn.contact {
    margin-right: 0;
}
.page-contact .contact-page .section-header {
    display: none;
}
.page-contact .feature-row1 .page-width.feature-row .feature-row__image-wrapper {
    max-height: 452px!important;
    max-width: 100%!important;
}
.page-contact .feature-row1 .feature-row__image-wrapper .feature-row__image {
    max-height: 452px!important;
    max-width: 100%!important;
    object-fit: cover;
}
.template-list-collections .read-more-collection, .page-aroma-collection .read-more-collection {
    text-align: center;
    padding: 30px 0 32px;
}
.template-list-collections .read-more-collection .read-more-title a, .page-aroma-collection .read-more-collection .read-more-title a {
    margin: 0;
  	font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.16667px;
    font-weight: 100;
    font-family: 'GT America';
  	opacity:0.8;
}
.template-list-collections .read-more-title a#read-more-link:after, .page-aroma-collection .read-more-title a#read-more-link:after {
    content: '';
	background-image: url(CLOSE_BLACK_Copy.svg);
	background-repeat: no-repeat;
  	height: 20px;
    width: 20px;
    position: absolute;
    text-align: center;
    margin: 5px 15px;
    border-radius: 30px;
    background-size: 13px;
    border: 0.5px solid #2F2F2F;
    background-position: center center;
    transition: .5s ease;
}
#shopify-section-b2b-apple-store .feature-row__item.mobile {
    display: none;
}
#shopify-section-contact-aroma .feature-row{
	padding:0 60px 25px;
}
.collection-product .review-desktop {
    display: block;
  	font-size: 8px;
    line-height: 13px;
    text-align: center;
    padding-bottom: 7px;
    letter-spacing: 0.373333px;
    color: #000000;
  	padding-top: 19px;
  	min-height:50px;
}
.review-desktop .jdgm-prev-badge__stars {
    display: block;
}
.collection-product .review-mobile {
    display: none;
}
#shopify-section-b2b-form .grid .grid__item.medium-up--push-one-twelfth{
	padding-left: 0;
}
.aroma-oils-header .navbar-title-list, .aroma-oils-header .navbar-title-list ul {
	display: flex;
}
.collect-nav .navbar-title-list .nav-item h4.nav-perent-title {
	display:none;
}
.template-list-collections .collect-nav .nav1 .nav-item, .page-aroma-collection .collect-nav .nav1 .nav-item {
    margin:0;
  	padding:0 45px 0 0;
}
.template-list-collections .page-container {
    margin-top: -80px;
}
.page-aroma-collection .collect-nav .nav1 .navbar-nav{
	Display: flex;
}
.review-desktop .jdgm-prev-badge__stars {
    display: block;
}
.product-badge {
	width: 48px;
	height: 48px;
	display: inline-block;
	background-color: #FFFFFF;
	clip-path: polygon(100% 0, 0 0, 100% 100%);
  	position: absolute;
  	right:0;
  	top:0;
}
.new-label {
	text-align: center;
	transform: rotate(45deg);
	display: block;
	padding-left: 25px;
  	text-transform: uppercase;
    font-size: 8px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.426666px;
    color: #000000;
}
.footer-bottom-section .grid--no-gutters .grid__item .site-footer__copyright-content--inc,.footer-bottom-section .grid--no-gutters .grid__item .site-footer__copyright-content--privacy, .footer-bottom-section .grid--no-gutters .grid__item .site-footer__copyright-content--terms{
	display:none;
}
.template-captcha .site-footer {
    margin: 0;
}
.email-err {
    font-size: 13px;
    font-family: 'GT America';
}
.site-footer .grid__item.footer-logo {
    padding: 0;
  	padding-top: 65px;
}
.b2b-power-page.our-commitment-section{
/* 	padding:50px 0; */
}
.b2b-power-page .section-feature-column.page-width{
	padding:0;
}
.main-content .shopify-section #scentmachines{
/* 	padding:50px 60px; */
}
.shopify-section #scentmachines .section-header{
	padding-top:0;
}
.main-content .shopify-section.active .page-width.section-collection{
/* 	padding-bottom:50px; */
}
.blog-slider{
/* 	padding:50px 0 50px 55px; */
}
.blog-slider .section-header{
/* 	padding-top:0; */
}
.blog-slider a.btn{
	margin-bottom:0;
}
footer .page-width.connect-footer {
    display: none;
}
@media(max-width: 750px){
  	.site-footer__hr{
		margin:29px 0 0 0;
	}
}
@media(max-width: 335px){
  	.section-feature-column.b2b-work .grid--flush-bottom .grid__item h3{
  		font-size:15px;
    }
}
@media(min-width: 750px){
  	.slideshow__controls:hover .slideshow__arrows{
  		background-color: rgba(0, 0, 0, 0);
    }
  	.template-page .page-container .index-section--slideshow:nth-child(2){
		display: none;
	}
  	.b2b-hotel .image-bar--medium .image-bar__content, .b2b-hotel .image-bar--medium .image-bar__item {
		height: 458px;
	}
	.site-footer__item{
  		margin-bottom:20px;
    }
  	.site-header__account, .site-header__cart, .site-header__search-toggle{
  		padding:10px;
  	}
  	.footer-bottom-section > .page-width{
/*   		max-width: 1440px; */
  	}
/*  .site-footer__item--one-fifth{
  		flex:1 1 auto;
  	}
    .site-footer__item--one-fifth:nth-child(1) {
     	width: 413px; 
     	margin-right: 0;
    	padding-right: 70px; 
	}
  	.site-footer__item--one-fifth:nth-child(2) {
      	width: 250px;
    	padding-left: 20px;
    }
  	.site-footer__item--one-fifth:nth-child(3) {
 	    width: 187px;
        padding-right: 32px;
	}
  	.site-footer__item--one-fifth:nth-child(4) {
 	    width: 300px;
	} */
  	.b2b-work .grid--flush-bottom{
        display: flex;
      	width: 100%;
    	justify-content: space-between;
    	margin-left: 0;
      	margin-right: 0;
    }
  	.page-b2b-landing .feature-row__text--right, .feature-row__text--left{
    	padding-right: 0;
      	padding-left:0;
	}
  	#shopify-section-about-us-technology .feature-row__text--right {
    	padding-right: 0;
	}
}
@media(min-width: 1100px){
	.contact-page .grid__item.medium-up--one-half:nth-child(1) {
    	max-width: 100%;
	}
	.contact-page .grid__item.medium-up--one-half:nth-child(2) {
    	max-width: 100%;
  		padding-left:25px;
	}
	.contact-page .grid__item.medium-up--one-half:nth-child(3) {
    	max-width: 100%;
	}
	.contact-page .grid__item.medium-up--one-half:nth-child(4) {
    	max-width: 100%;
  		padding-left:25px;
	}
  	.contact-page textarea{
  		max-width:100%;
  	}
}
@media(max-width:1920px) and (min-width: 1050px){
  	.b2b-form .contact-form input, select{
  		max-width:100%;
    }
  	.b2b-form .contact-form textarea{
  		max-width:100%;
    }
}
@media(max-width: 749px){
  	.b2b-form .contact-form form#ContactForm {
		width: 100%;
		margin: 0 auto;
      	padding-left: 31px;
    	padding-right: 32px;
	}
  	h4.nav-title.flip-title:after {
    	content: '';
    	background-image: url(CLOSE_BLACK_Copy.svg);
		background-repeat: no-repeat;
  		height: 20px;
   	 	width: 20px;
    	position: absolute;
    	text-align: center;
		right:30px;
    	background-position: center center;
    	transition: .5s ease;
    }
  	h4.nav-title.flip-title.active:after{
  		content: '';
    	background-image: url(CLOSE_BLACK_Copy.svg);
		background-repeat: no-repeat;
  		height: 20px;
   	 	width: 20px;
    	position: absolute;
    	text-align: center;
		right:30px;
      	transform: rotate(45deg);
    	background-position: center center;
    	transition: .5s ease;
    }
  	.collection-product .review-desktop {
   	 	display: none;
	}
  	.collection-product .review-mobile {
    	display: block;
      	font-size: 7px;
    	line-height: 13px;
    	text-align: center;
    	letter-spacing: 0.373333px;
    	color: #000000;	
      	min-height: 7px;
	}
  	.collet-product .product-card__image-with-placeholder-wrapper {
    	padding-top: 30px;
	}
  	.collet-product .price .price__regular {
   	 	margin: 0;
	}
  	.b2b-work .grid--flush-bottom {
    	display: flex;
    	flex-wrap: wrap;
      	margin:0;
	}
  	.b2b-form .contact-form input.btn{
  		margin: 0;
		max-width: 352px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		display: block;
		margin-top: 11px;
    }
  	.b2b-form .contact-form .grid--half-gutters {
		margin: 0;
	}
 	.page-width.b2b-hotel {
    	padding:0 0 50px;
	}
  	.hotel-btn, .hotel-shop-btn {
		display: block;
		width: 100%;
		padding: 0 35px;
   	}
  	.b2b-hotel .hotel-btn .slideshow__btn-wrapper {
		width: 100%;
	}
  	.b2b-hotel .hotel-btn .btn.slideshow__btn {
		display: block;
      	margin-bottom:5px;
	}
  	.b2b-hotel .hotel-shop-btn .slideshow__btn-wrapper {
		width: 100%;
	}
  	.b2b-hotel .image-bar {
		display: flex;
      	max-width:100%;
	}
  	.b2b-hotel .image-bar .grid__item:nth-child(1) .image-bar__item{
		background-position: 75% center !important;
	}
	.b2b-hotel .image-bar .grid__item:nth-child(3) .image-bar__item{
		background-position: 15% center !important;
	}
  	.b2b-hotel .hotel-btn .rte-setting.text-center{
  		margin-bottom:19px;
    }
  	#shopify-section-b2b-apple-store .page-width.feature-row .feature-row {
		max-height: 100%;
	}
  	.page-about-us .feature-row1 .feature-row__text--left {
 	   	padding:50px 0;
	}
  	.page-about-us .main-content .shopify-section .page-width.rich-text{
/*   		padding-top:13px; */
      	padding:50px;
    }
  	.b2b-form .contact-form .grid__item.medium-up--one-half {
 	   	padding-left: 0px;
	}
  	.b2b-form .contact-form input.messages {
 	  	padding-bottom: 85px;
	}
  	.b2b-form .contact-form textarea{
  		min-height: 140px;
      	margin-bottom:0;
      	max-width: 352px;
  	}
  	.b2b-form .contact-form input, .contact-form select, .contact-form textarea {
		max-width: 352px;
		margin-left: auto;	
		margin-right: auto;
      	-webkit-appearance: none;
	}
/*  .contact-form select.largespace {
 	   	display: none;
	} */
 	#shopify-section-b2b-apple-store .btn-second-b2b {
   	   	padding-top: 20px;
	}
  	.template-page .page-container{margin-top:-60px;}
  	.about-us-philoshofy .grid__item.medium-up--one-half.text-center {
 	   	width: 50%;
	}
  	.slideshow__arrows--mobile .slideshow__arrow.slideshow__arrow-previous {
    	display: none;
	}
	.slideshow__arrows--mobile .slideshow__arrow.slideshow__arrow-next {
    	display: none;
	}
  	.slideshow__arrows--mobile .slick-dots {
 	   	text-align: left;
	   	margin: 0 20px;
       	padding:0;
	}
   .site-footer__linklist-item{
		padding:4px 0;
	}  
  	.grid.grid--no-gutters.small--text-center.grid--footer-float-right{
  		padding:12px 18px;
  	}
  	.hero__inner .hero__btn{
  		max-width:100%;
  	}
  	.template-index div#Hero-hero-1{
  		 background-position: 85% bottom!important;
  	}
  	.template-index .hero{
  		background-size:257%;
  	}
  	.template-index .hero__inner{
  		position:absolute;
    	top:94%;
    	background: #937557;
    	padding:23px 0;
  	}
  	.template-index .hero__overlay::before{
	    background-color: var(--color-image);
  	}
  	.ratio-container > *{
  		height:275px;
  	}
	.template-index .rich-text, .template-page .rich-text {
   	}
  	.template-index .index-section--flush:first-child{
/*     	margin-top: -57px; */
  	}
  	.mobile-nav__icon{
  		display:none;
  	}
  	.mobile-nav__link{
  		padding:0 30px;
      	text-decoration-line: unset;
  	}
  	.mobile-nav__sublist-link{
  		padding:0 30px;
      	line-height: unset;
    	text-decoration-line: unset;
  	}
  	header.site-header .mobile-nav-wrapper .mobile-nav{
  		margin-top:113px;
  	}
  	header.site-header .mobile-nav-wrapper.sub-nav--is-open .mobile-nav {
		margin-top: 0;
  	}
  	header.site-header .mobile-nav-wrapper.sub-nav--is-open .mobile-nav__table {
		margin-bottom: 113px;
  	}
  	header.site-header .icon.icon-hamburger{
	  	position:initial;
  	}
  	header.site-header .mobile-nav-wrapper{
	  	font-size: 20px;
		line-height: 40px;
		letter-spacing: 1.66667px;
		text-transform: uppercase;
    	color: #000000;
    	z-index:1;
  	}
  	header.site-header .mobile-nav-wrapper ul li .mobile-nav__link{
	  	font-size: 20px;
		line-height: 40px;
		letter-spacing: 1.66667px;
		text-transform: uppercase;
  	}
  	header.site-header .mobile-nav-wrapper ul li {
    	border-bottom: none;
  	}
  	.rte{
  		display:flex;
    	flex-direction:column;
  	}
  	header.site-header .mobile-nav-wrapper ul li .mobile-nav__link {
    	padding-left: 31px;
  	}
  	.mobile-nav__sublist-link:not(.mobile-nav__sublist-header) {
    	padding-left: 31px;
	    font-size: 20px;
  	}
  	.template-index footer.site-footer, .template-page footer.site-footer{
  		margin-top: 25px;
/*     	padding: 0px 0 55px 0; */
      	padding:0;
  	}
  	.footer-news-text{
  		font-size: 16px;
		line-height: 24px;
		color: #000000;
    	letter-spacing:0;
    	opacity:0.7;
    	width:100%;
  	}
  	.site-footer__item-inner.site-footer__item-inner--newsletter .h4 {
	    font-size: 10px!important;
    	opacity:1!important;
   	}
  	.footer-soci-link{
  		padding:0 18px;
    	float:left;
    	width:100%;
  	}
  	.footer-news-text{
  		padding-bottom:22px;
  	}
  	.site-footer .site-footer__content .site-footer__item .site-footer__item-inner .h4{
  		padding:12px 0 13px;
	    opacity:0.7;
  	}
  	.site-footer .site-footer__content .site-footer__item{
	  	border-bottom:1px solid;
  	}
  	.site-footer .site-footer__content .site-footer__item:first-child {
/* 		display: none; */
	}
  	.site-footer__item-inner.site-footer__item-inner--logo_img:before {
    /*  content: ''!important; */
   	 	background-image: none!important;
    	height: 0!important;
    	width: 0!important;
	}
  	.footer-logo .h2.site-header__logo{
  		margin: 0 auto;
    	text-align: center;
    	width: 192px;
    }
  	.footer-logo .site-header__logo-image img {
    	max-width: 192px!important;
	}
  	.footer-soci-link h4{
  		margin-bottom: 0;
    	border-bottom:1px solid;
    	font-size: 16px;
    	padding-bottom: 10px;
    	font-weight: 500;
    	line-height: 24px;
    	letter-spacing: 1.33333px;
  	}
  	.site-footer .footer-soci-link{
  		margin-top:12px;
  	}
  	ul.list--inline.site-footer__social-icons.social-icons.site-footer__icon-list{
	  	padding-top:32px;
  	}
  	header.site-header.sticky .grid .mobile-nav--close:after {
    	top: 17px;
  	}	
  	header.site-header .grid .mobile-nav--close:after{
	    background-size: cover;
  	}
    .site-footer .site-footer__content .site-footer__item .site-footer__item-inner:before{
  		content:'';
    	display:inline-block;
	    background-image:url(CLOSE_BLACK_Copy.svg);
    	width: 18px;
	    height: 18px;
	    background-repeat: no-repeat;
	    position:absolute;
	    right:40px;
	    margin-top:14px;
	    transition:.4s all;
  	}
  	.site-footer .site-footer__content .site-footer__item .site-footer__item-inner.active:before{
	  	content:'';
    	display:inline-block;
	    background-repeat: no-repeat;
	    position:absolute;
	    right:40px;
	    margin-top:14px;
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    transition: .5s all;
	}
	.site-footer .site-footer__content .site-footer__item .site-footer__item-inner--newsletter:before{
	   	content:'';
	    display:none;
  	}	
  	.site-footer .site-footer__content .site-footer__item .site-footer__item-inner--newsletter.active:before{
  		content:'';
    	display:none;
  	}
  	.page-b2b-landing .mega-subtitle{
    	width:260px;
     }
  	.page-b2b-landing .mega-subtitle p{
    	color:#fff;
     }
  	.page-b2b-landing .btn.hero__btn{
    	width:100%;
      	color:#fff;
      	padding:10px 0;
    }
  	#shopify-section-brand .feature-row__text {
    	padding-top: 50px;
    	padding-bottom: 50px;
    	opacity: 0.7;
	}
  	#shopify-section-brand .featured-row__subtext p{
    	width:83%;
    }
  	#shopify-section-brand .feature-row__item.feature-row__text.feature-row__text--right .h3{
    	width:84%;
    }
  	#shopify-section-emotional .feature-row__text {
    	padding-top: 50px;
    	padding-bottom: 50px;
    	opacity: 0.7;
	}
  	#shopify-section-emotional .featured-row__subtext p{
    	width:83%;
    }
  	#shopify-section-emotional .feature-row__item.feature-row__text.feature-row__text--left .h3{
    	width:84%;
    }
  	#shopify-section-powerful .feature-row__text {
    	padding-top: 50px;
    	padding-bottom: 50px;
    	opacity: 0.7;
	}
  	#shopify-section-powerful .featured-row__subtext p{
    	width:83%;
    }
  	#shopify-section-powerful .feature-row__item.feature-row__text.feature-row__text--right .h3{
    	width:84%;
    }
  	#shopify-section-b2b-apple-store .featured-row__subtext p{
    	max-width:100%;
    }
  	#shopify-section-b2b-apple-store .feature-row__item{
    	width:100%;
    }
  	#shopify-section-b2b-apple-store .feature-row__text--right{
  		width:100%;
  	}
  	.page-b2b-landing .mega-subtitle{
  		margin-bottom:10px;
    }
    .mobile-custom-4f1c02a1-b3f9-41a9-ac36-2c79e85fc5b1 .slideshow__title.slideshow__title--mobile {
  	  padding-right: 0!important;
	}
  	#shopify-section-about-us-philoshofy .page-width .grid--flush-bottom{
      	display:flex;
      	flex-wrap:wrap;
      	justify-content: center;
    }
  	#shopify-section-about-us-technology .feature-row__item.feature-row__text.feature-row__text--right .h3{
    	width:100%;
      	text-align:center;
    }
  	#shopify-section-about-us-technology .featured-row__subtext p{
  		max-width:85%;
      	text-align:center;
      	opacity:0.7;
    }
  	.slideshow__slide.first .slideshow__text-wrap .page-width .slideshow__btn-wrapper .slideshow__btn{
    	display:none;
    }
  	.slideshow__slide.second .slideshow__image{
  		background-position:95% center!important;
    }
 	.slideshow__slide.first .slideshow__text-wrap .page-width .slideshow__subtitle{
  		display:none;
  	}
  	.page-b2b-landing .btn.hero__btn, .slideshow__slide.third .slideshow__text-wrap .page-width .slideshow__btn-wrapper .slideshow__btn{
  		display:none;
  	}
  	.page-b2b-landing .mega-subtitle p, .slideshow__slide.third .slideshow__text-wrap .page-width .slideshow__subtitle{
  		display:none;
  	}
  	.slideshow__text-wrap--mobile{
  		width:100%;
    	margin:0;
      	position:relative;
  	}
  	.slideshow__arrows.slideshow__arrows--mobile {
    	position: absolute;
    	bottom: 5px;
    }
  	.mobile-custom-1602656997621-0 .slideshow__btn--mobile, .slideshow__text-wrap--mobile .slideshow__text-content--mobile:nth-child(2) .slideshow__btn--mobile {
    	border-radius: 33px;
    	background: transparent;
    	outline: none;
    	border: 1px solid;
    	width: 100%;
        margin: 0 auto 0.3rem;
 	}
  	.slideshow__text-wrap--mobile .slideshow__text-content--mobile:nth-child(2) .slideshow__btn--mobile:hover, 
  	.slideshow__text-wrap--mobile .slideshow__text-content--mobile:nth-child(4) .slideshow__btn--mobile:hover {
    	background: transparent;
    }
  	.hero__inner .page-width.text-center, .slideshow__text-wrap .page-width{
  		text-align:left;
    }
  	.mobile-custom-1602656997621-0 .slideshow__title--mobile ~ .slideshow__subtitle--mobile,
  	.slideshow__text-wrap--mobile .slideshow__text-content--mobile:nth-child(2) .slideshow__title--mobile ~ .slideshow__subtitle--mobile{
  		margin-bottom:34px;
    	font-size: 16px;
    	line-height: 24px;
      	color:#fff;
    }
  	.mobile-custom-1602656997621-0 .slideshow__title, .slideshow__text-wrap--mobile .slideshow__text-content--mobile:nth-child(2) h2 {
        font-size: 40px;
    	line-height: 48px;
    	letter-spacing: -0.285714px;
    	text-align: left;
      	color:#fff;
	}
  	.mobile-custom-1602657522830 .slideshow__title, .slideshow__text-wrap--mobile .slideshow__text-content--mobile:nth-child(4) .slideshow__title {
        font-size: 40px;
    	line-height: 48px;
    	letter-spacing: -0.285714px;
    	text-align: left;
      	color:#fff;
      	padding-right:30px;
	}
  	.mobile-custom-1602657522830 .slideshow__subtitle, .slideshow__text-wrap--mobile .slideshow__text-content--mobile:nth-child(4) .slideshow__subtitle{
  		font-size: 16px;
		line-height: 24px;
  		color:#fff;
      	margin-bottom:30px;
    }
  	.mobile-custom-1602657522830 .slideshow__btn--mobile, .slideshow__text-wrap--mobile .slideshow__text-content--mobile:nth-child(4) .slideshow__btn--mobile, 
  	.slideshow__text-wrap--mobile .slideshow__text-content--mobile:nth-child(3) .slideshow__btn--mobile{
    	border-radius: 33px;
    	background: transparent;
    	outline: none;
    	border: 1px solid;
    	width: 100%;
        margin: 8px auto 0.3rem;
 	}
  	.slideshow__text-wrap--mobile .slideshow__text-content--mobile:nth-child(3) .slideshow__btn--mobile {
    	color: #000000;
	}
  	.mobile-custom-1602656997621-1	.slideshow__title, .slideshow__text-wrap--mobile .slideshow__text-content--mobile:nth-child(3) .slideshow__title{
	    font-size: 30px;
    	line-height: 39px;
    	letter-spacing: -0.214286px;
      	color: #000;
    }
    .mobile-custom-a510ce7f-ebc6-4ccf-8685-854df0de5ffb .slideshow__subtitle.slideshow__subtitle--mobile {
   		font-size: 30px;
   		line-height: 39px;
    	letter-spacing: -0.214286px;
	}
  	.b2b-power-page .section-feature-column .our-commit-para p{
  		width: 100%;
    	padding: 28px;
    }
  	.slideshow__arrows--mobile ~ .slideshow__text-content--mobile {
    	padding-bottom: 3.5rem;
      	padding-top:2rem;
	}
  	.b2b-work .grid__item.medium-up--one-half.text-left {
 	   	width: 50%;
      	margin-bottom:22px;
      	padding-left:18px;
      	padding-right:0;
	}
  	.page-width.section-feature-column.b2b-work{
  		padding:50px 31px 50px 31px;
    }
  	.section-feature-column.b2b-work .section-header h2{
  		margin-bottom:49px;
    }
  	#shopify-section-b2b-client .page-width.rich-text {
    	padding: 50px 0;
	}
  	#shopify-section-b2b-apple-store .featured-row__subtext p {
    	font-size: 14px;
    	line-height: 22px;
      	margin-bottom:31px;
	}
  	#shopify-section-b2b-apple-store .feature-row__text--right{
  		margin:50px 30px;
      	padding:0;
      	
    }
  	.page-b2b-landing .b2b-power .rte-setting p{
  		margin-bottom:0px;
    }
  	.b2b-power .feature-row__image-wrapper {
 	   margin-bottom: 26px;
	}
  	.page-b2b-landing .b2b-power .section-header{
  		margin-bottom:80px;
    }
  	.about-us-philoshofy .text-center.our-commit-para p{
  		padding: 0 32px;
      	max-width:100%;
      	margin-top:10px;
    }
  	#shopify-section-about-us-technology .feature-row__item.feature-row__text.feature-row__text--right {
 	   	padding: 50px 0;
	}
    .template-page .page-container .index-section--slideshow:first-child{
/* 		display: none; */
	}
  	.page-b2b-landing .b2b-power{
/*   		margin-top:-18px!important; */
    }
  	.section-feature-column.b2b-work .grid--flush-bottom .grid__item h3 {
 	   margin-bottom: 22px;
	}
  	.b2b-form .contact-form .grid__item.medium-up--one-half:nth-child(1) {
	    width: 100%;
	}
	.b2b-form .contact-form .grid__item.medium-up--one-half:nth-child(2) {
    	width: 100%;
      	padding:0
	}
  	.feature-app{
  		max-width:300px;
      	padding:0;
      	margin:0 auto;
    }
  	.main-content .shopify-section .page-width.rich-text{
/*   	padding-bottom:50px; */
        padding: 50px 60px 50px;
    }
  	#shopify-section-b2b-client .rich-text .grid .rich-text__text--medium p {
    	max-width: 340px;
      	margin-bottom:0!important;
	}
  	#shopify-section-b2b-form .rich-text__text--medium p {
    	max-width: 352px;
	}
  	.b2b-hotel .rich-text__text--large.rte-setting p {
    	max-width: 352px!important;
      	margin-bottom:50px;
	}
  	.b2b-hotel .rich-text__heading--large .h3 {
    	max-width: 352px;
      	padding-top: 50px;
      	margin-bottom:30px;
	}
  	.b2b-hotel .hotel-shop-btn .btn.slideshow__btn{
  		margin-bottom:19px;
    }
  	.b2b-hotel .grid__item.medium-up--two-thirds.medium-up--push-one-sixth {
    	background: #fff;
	}
  	.b2b-form .contact-form input, select {
    	padding: 16px 17px;
      	margin-bottom:11px;
	}
  	.b2b-form .contact-form select.largespace {
	    padding-left: 17px;
	    margin-bottom:11px;
	}
	.b2b-form .contact-form select.business {
	    padding-left: 17px;
    	margin-bottom:11px;
	}
	.b2b-form .contact-form input.cutomscent {
    	padding-left: 17px;
      	margin-bottom:11px;
	}
	.b2b-form .contact-form textarea.message-box {
    	padding-left: 17px;
    }
  	.b2b-work .rte-setting p{
  		font-size:14px;
      	line-height: 22px;
    }
  	.b2b-testimonials blockquote.quotes-slider__text {
    	margin: 0 auto;
      	padding:0;
   	}
  	.b2b-testimonials .quotes-slide{
  		width:100%;
    }
  	.b2b-testimonials .logo-bar__item {
		margin: 0;
		width: 50%;
      	max-width:100%;
      	margin-bottom:40px;
	}
  	.b2b-testimonials .demo {
		width: auto !important;
      	max-width:140px;
	}
  	.b2b-testimonials .logo-bar {
		display: flex;
		flex-wrap: wrap;
 		align-items: baseline;
     }
	.page-width.b2b-testimonials {
		padding: 50px 40px;
      	padding-bottom:50px;
	}
  	.b2b-testimonials .prev::before {
   		content: '';
		background-image:url(arrow-left.svg);
  		background-repeat:no-repeat;
	  	height: 30px;
	    width: 20px;
  		position: absolute;
		background-size:21px;
	}
	.b2b-testimonials .next::after {
    	content: '';
		background-image:url(arrow-right.svg);
  		background-repeat:no-repeat;
  		height: 30px;
    	width: 30px;
  		position: absolute;
    	background-size:21px;
	}
  	.b2b-testimonials .prev {
		left: 40px;
	}
  	.b2b-testimonials .quotes-slider__text p{
  		max-width:340px;
      	margin:0 auto;
    }
  	.about-us-philoshofy .grid--flush-bottom .grid__item{
  		padding:0 20px;
      	margin-bottom:50px;
    }
  	.shopify-section .page-width.b2b-form{
  		padding:50px 0!important;
    }
  	#shopify-section-b2b-apple-store-mobile {
/*     	display: block; */
	}
  	#shopify-section-b2b-apple-store {
/*     	display: none; */
	}
  	#shopify-section-b2b-apple-store-mobile .page-width.feature-row {
 	   max-width: 100%;
    	padding: 0;
    	border-top: 2px solid #979797;
    	border-bottom: 2px solid #979797;
    	display: block;
	}
  	#shopify-section-b2b-apple-store-mobile .page-width.feature-row .feature-row {
 	   max-height: 100%;
	}
  	#shopify-section-b2b-apple-store-mobile .feature-row__text--right {
 	   margin: 48px 0 100px 0;
   	   padding: 0;
   	   width: 100%;
	}
  	#shopify-section-b2b-apple-store-mobile .feature-row__item.feature-row__text.feature-row__text--right .h3 {
    	color: black;
    	font-size: 16px;
    	line-height: 24px;
    	letter-spacing: 1.33333px;
    	margin-bottom: 0;
    	font-weight: bold;
    	font-family: 'GT America';
	}
  	#shopify-section-b2b-apple-store-mobile .feature-row__item.feature-row__text.feature-row__text--right .h5 {
    	font-size: 16px;
    	line-height: 24px;
    	letter-spacing: 1.33333px;
    	margin-bottom: 25px;
    	font-family: 'GT America';
	}
  	#shopify-section-b2b-apple-store-mobile .featured-row__subtext p {
    	font-size: 14px;
    	line-height: 22px;
    	margin-bottom: 31px;
    	max-width:100%;
	}
  	#shopify-section-b2b-apple-store-mobile .btn-first-b2b {
    	display: block;
    	background: none;
    	color: #000;
    	text-decoration: underline;
	    font-weight: 100;
	    text-align: left;
	    text-transform: capitalize;
    	font-size: 14px;
    	line-height: 32px;
    	padding: 0;
	    font-family: 'GT America';
	}
  	#shopify-section-b2b-apple-store-mobile .btn-second-b2b {
    	background: none;
    	color: #000;
    	text-decoration: underline;
    	font-weight: 100;
    	text-transform: capitalize;
	    font-size: 14px;
	    line-height: 32px;
	    padding: 0;
	    padding-top: 20px;
    	font-family: 'GT America';
	}
  	#shopify-section-b2b-apple-store-mobile .feature-row__image-wrapper .feature-row__image {
    	max-width: 100%;
    	max-height: 500px;
    	object-fit: unset;
    	object-position: 50% 53%;
	}
  	#shopify-section-b2b-apple-store-mobile .page-width.feature-row .feature-row__image-wrapper {
    	max-width: 100%;
    	max-height: 500px;
    	margin: 0;
    	display: flex;
	}
  	#shopify-section-b2b-apple-store-mobile .feature-row__item {
    	width: 100%;
	}
  	.b2b-testimonials .quotes-slider__text .caption-testomonial{
  		max-width: 205px;
    	margin: 0 auto;
    	word-break: break-word;
    	margin-bottom: 38px;
    }
  	.scroll-collection .collection-product{
  		display:inline-block;
      	width:100%;
    }
  	.colect-descr{
  		width:100%;
      	max-width:244px;
    }
  	.scroll-collection .collet-product{
  		width:100%;
      	display: flex;
    	flex-wrap: wrap;
    }
  	.scroll-collection .colect-descr p{
  		padding-top:9px;
      	padding-bottom:39px;
    }
  	.slideshow__text-wrap--mobile .slideshow__text-content--mobile:nth-child(2)
  	.slideshow__btn--mobile:hover{
    	background: #977045;
    }
  	.slideshow__text-wrap--mobile .slideshow__text-content--mobile:nth-child(4)
  	.slideshow__btn--mobile:hover{
    	background: #977045;
    }
  	.newsletter-section .page-width{
  		display:block;
      	padding:0 33px;
    }
  	.newsletter-section .section-header.text-center {
 	   width: 100%;
   	   margin-bottom: 25px;
	}
  	.newsletter-section .form-single-field{
  		width:100%;
    }
  	.newsletter-section input.input-group__field{
  		max-width:232px;
      	margin: 0 8px 0 0;
    }
  	.newsletter-section .input-group__btn .btn{
  		max-width:110px;
      	padding:8px;
    }
  	.newsletter-section .input-group{
  		flex-wrap:unset;
    }
  	.newsletter-section .input-group__btn{
/*   		flex-grow:unset; */
    }
  	.newsletter-section .section-header .h2, .newsletter-para p{
  		font-size:16px;
      	line-height:24px;
      	margin:0 auto;
/*     	max-width:357px; */
  		max-width:100%;
    }
  	.index-section--flush:last-child{
  		margin-bottom:0;
    }
  	.site-footer .site-footer__content .site-footer__item:nth-child(2) {
		border-top: 1px solid #000000;
	}
  	#shopify-section-newsletter.index-section--flush{
  		padding:0;
    }
  	.contact-page input {
    	max-width: 330px;
    	margin: 10px auto;
	}
  	.contact-page .grid__item.medium-up--one-half:nth-child(3) {
    	width: 100%;
	}
  	.contact-page .grid__item.medium-up--one-half:nth-child(2){
  		padding-left:0;
    }
  	.contact-page .grid__item.medium-up--one-half:nth-child(4){
  		padding-left:0;
    }
  	.page-contact .feature-row1 .feature-row__text a.btn {
    	display: inline-block;
    	width: 100%;
    	height: 50px;
    	margin: 0 auto;
	}
  	.b2b-power-page .section-feature-column .grid--flush-bottom .grid__item h3{
    	letter-spacing: 0;
    }
  	.page-aroma-collection .page-container {
		margin-top: 0px;
	}
  	.collect-nav .navbar-title-list .nav-item h4.nav-perent-title {
    	font-size: 16px;
    	line-height: 24px;
	    letter-spacing: 1.33333px;
	    font-weight: 100;
	    font-family: 'GT America';
	    margin: 0;
	    border-bottom: 1px solid;
	    padding-bottom: 7px;
      	text-transform: uppercase;
      	display:block!important;
	}
  	.collect-nav .aroma-oils-header .nav-title{
  		margin-top:5px;
      	font-weight: bold;
    }
  	.aroma-oils-header .nav-item{
		display: block;
		margin: 0;
	}
  	.aroma-oils-header .navbar-title-list, .aroma-oils-header .navbar-title-list ul {
		display: block;
	}
/*   	ul.navbar-nav.panel-menubar {
	    display: none;
	}
	ul.navbar-nav.panel-menubar.active {
	    display: block;
	} */
  	.template-list-collections .page-width, .page-aroma-collection .page-width {
		padding: 0 30px;
	}
  	.template-list-collections .site-footer .page-width, .page-aroma-collection .site-footer .page-width{
  		padding:0 22px;
    }
  	.template-list-collections .page-container {
    	margin-top: -60px;
	}
  	.template-list-collections .read-more-collection, .page-aroma-collection .read-more-collection{
  		width:100%;
      	text-align:left;
    }
  	.template-list-collections .read-more-collection .read-more-title, .page-aroma-collection .read-more-collection .read-more-title{
  		max-width:335px;
      	margin:0 auto;
    }
  	.collect-nav{
  		margin-top:30px;
    }
  	.page-aroma-collection .collect-nav .nav1 .navbar-nav{
		flex-direction: column;
	}
  	.b2b-form .grid{
  		margin:0;
    }
  	.site-footer .site-footer__content{
  		padding:0 18px;
    }
  	.site-footer__copyright-content.site-footer__copyright-content--canada{
  		order:4;
    }
  	.site-footer__copyright-content.site-footer__copyright-content--language{
  		order:5;
    }
  	.newsletter-section {
/*     	padding: 27px 0 37px 0; */
		padding:50px 0;
    }
  	.site-footer .grid__item.footer-logo {
  		padding: 0;
      	margin-bottom:35px;
  	}
  	footer .footer-soci-link.connect-mobile {
    	display: none;
	}
  	footer .page-width.connect-footer {
    	display: block;
	}
  	.section-feature-column.b2b-work .grid--flush-bottom .grid__item:first-child{
  		padding-left:18px;
    }
}
@media (min-width: 768px){
 	 header.site-header .icon.icon-close{
 		position:absolute;
  		top:40%;
  		z-index:5;
  		display:none;
  	}
  	#shopify-section-brand .feature-row__item.feature-row__text.feature-row__text--right .h4, #shopify-section-brand .featured-row__subtext p,
    #shopify-section-emotional .featured-row__subtext p, #shopify-section-emotional .feature-row__item.feature-row__text.feature-row__text--left .h4, 
  	#shopify-section-powerful .featured-row__subtext p, #shopify-section-powerful .feature-row__item.feature-row__text.feature-row__text--right .h4{
  		width:80%;
    }
  	.newsletter-section .input-group{
  		flex-wrap:unset;
    }
  	.contact-page .grid__item.medium-up--one-half:nth-child(1) {
    	width: 50%;
	}
  	.contact-page .grid__item.medium-up--one-half:nth-child(2) {
    	width: 50%;
	}
  	.contact-page .grid__item.medium-up--one-half:nth-child(3) {
    	width: 50%;
	}
  	.page-contact .feature-row1 .feature-row__text a.btn{
  		width:42%;
      	padding:13px;
    }
}
@media (max-width: 500px){
	#shopify-section-b2b-apple-store .page-width.feature-row .feature-row__image-wrapper.mobile {
    	display: block;
	}
  	#shopify-section-b2b-apple-store .page-width.feature-row .feature-row__image-wrapper{
  		display:none;
    }
  	#shopify-section-b2b-apple-store .feature-row__item.mobile{
  		display:block;
    }
}
@media(max-width: 360px){
  	#shopify-section-b2b-client .rich-text .grid .rich-text__text--medium p{
  		margin-bottom:0!important;
    }
  	.b2b-testimonials .demo{
  		max-width:115px;
    }
}
@media (max-width: 380px){
	.b2b-testimonials .prev {
		left: 30px;
	}
  	.page-width.b2b-testimonials {
		padding: 110px 15px;
		padding-bottom: 70px;
	}
  	.b2b-testimonials .next {
		right: -45px;
	}
  	.newsletter-section .input-group{
  		flex-wrap:unset;
    }
/*  .b2b-form .contact-form form#ContactForm{
  		padding-right:27px;
      	padding-left:50px;
    } */
  	.newsletter-section input.input-group__field::placeholder{
  		font-size:12px;
    }
  	.email-err {
    	font-size: 10px;
    	font-family: 'GT America';
	}
}
@media (max-width: 768px){
	.b2b-power-page .section-feature-column .grid--flush-bottom .grid__item{
  		width:50%;
  	}	
}
@media(max-width: 360px){
  .main-content .shopify-section .page-width.rich-text.b2b-form{
  		padding-left: 0!important;
    	padding-right: 0!important;
  }
}
@media(max-width: 340px){
	.b2b-testimonials .prev {
    	left: 15px;
	}
  	.b2b-testimonials .next {
    	right: -55px;
	}
  	.b2b-form .contact-form select{
  		padding-right:40px;
    }
/*   	.b2b-form .contact-form form#ContactForm{
  		padding-left:21px;
      	padding-right:0;
    } */
  	.b2b-form .grid__item.medium-up--two-thirds.medium-up--push-one-sixth {
    	padding: 0 30px;
	}
}
@media (max-width: 749px){
	header.site-header .mobile-nav-wrapper.sub-nav--is-open {
		top: 0;
	}
  	header.site-header .grid.actsub .mobile-nav--close:after{
		display: none;
	}
	header.site-header .grid.actsubthird .logo-align--left, header.site-header .grid.actsub .logo-align--left {
		z-index: 11;
	}
	header.site-header .grid.actsub {
		z-index: unset;
	}
	header.site-header .grid.actsub .grid__item.medium-up--one-quarter.text-right.site-header__icons {
		z-index: 11;
	}
	a.mobile-nav__sublist-link.mobile-nav__sublist-header {
		visibility: hidden;
	}
	.mobile-nav__dropdown .mobile-nav__sublist-header--main-nav-parent {
		visibility: hidden;
	}
  	.main-content .shopify-section .rich-text .rich-text__heading--large h2{
  		font-size: 26px;
  	}
  	.page-b2b-landing .main-content .shopify-section .rich-text .rich-text__heading--large h2 {
 	   	font-size: 30px;
   	   	line-height: 34px;
   	   	letter-spacing: 1px;
   	   	font-weight: bold;
       	max-width:253px;
	}
  	.page-b2b-landing .main-content .shopify-section .rich-text__text--large p {
    	max-width: 236px;
	}
  	.b2b-form .grid__item.medium-up--two-thirds.medium-up--push-one-sixth {
    	padding: 0 30px;
	}
}
@media (max-width: 1050px) and (min-width: 992px){
  	#shopify-section-about-us-technology .page-width.feature-row, #shopify-section-b2b-apple-store .page-width.feature-row,
  	#shopify-section-brand .page-width.feature-row, #shopify-section-emotional .page-width.feature-row, #shopify-section-powerful .page-width.feature-row{
  		padding:0!important;
    }
}
