/*@font-face {
  font-family: "GTAmerica-Bold";
  src: url("GT America Bold.ttf") format("ttf")
}
@font-face {
  font-family: "GTAmerica";
  src: url("GT America Regular.ttf") format("ttf")
}*/
@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GT America-Bold';
    src: url('GT-America-Extended-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GT America-Light';
    src: url('GT_America_Extended_Light.woff') format('woff');
    font-weight: lighter;
     font-style: normal; 
    font-display: swap;
}
/* @font-face {font-family: "GT America Condensed Light";
	src: url("ccccc3f8b8e2d474b31498c0b064e0f0.eot"); 
	src: url("ccccc3f8b8e2d474b31498c0b064e0f0.eot?#iefix") format("embedded-opentype"), 
	url("ccccc3f8b8e2d474b31498c0b064e0f0.woff") format("woff"), 
	url("ccccc3f8b8e2d474b31498c0b064e0f0.ttf") format("truetype"); 
} */


@keyframes smoothScroll {
  0% {
  	transform: translateY(-40px);
  }
  100% {
  	transform: translateY(0px);
  }
}

@keyframes test {
    0% {
        opacity:0;
    } 
  	50% {
        opacity:.5;
    }
  	100% {
        opacity:1;
    }
}
@keyframes tests {
    0% {
        opacity:1;
    } 
  	50% {
        opacity:.5;
    }
  	100% {
        opacity:0;
    }
}

$container-main: 1920px;
$wrapper-main: 1170px;
$wrapper_narrow: 880px;


body{
    font-family: 'GT America';
}
header.site-header {
    border-bottom: none;
}
#shopify-section-header{
	max-width: $container-main;
  	margin: 0 auto;
}
.search-bar .search-bar__interior{
	max-width: $wrapper-main;
  	margin: 0 auto;
}
/* .page-aroma-collection  .main-content .shopify-section:first-child{
	display: inline-block;
} */
/* .container--wrapper, .shopify-section {
	max-width: 1920px !important;
  	margin: 0 auto !important;
} */
html.js.js-focus-visible, footer.site-footer {
    padding-bottom: 0 !important;
}
.shopify-section {
    padding: 0;
}
.page-width {
	max-width: $wrapper-main;
  	margin: 0 auto !important;
}
.page-container, .shopify-section{
	max-width: $container-main;
  	margin: 0 auto;
}
.page-container .main-content{
	padding-top: 0;
}
.h1{
	font-size: 40px;
	line-height: 130%;
	letter-spacing: -1px;
	color: #212121;
  	font-family: 'GT America';
}
.h2{
	font-size: 30px;
	line-height: 130%;
	letter-spacing: 1.33px;
	color: #212121;
  	font-family: 'GT America';
}
.h3{
	font-size: 26px;
	line-height: 130%;
	letter-spacing: 1.5px;
	color: #212121;
  	letter-spacing: 1.33px;
  	font-weight: normal;
  	font-family: 'GT America';
}
.h4{
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.85px;
  color: #212121;
  font-family: 'GT America';
}
.h5{
	font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.9px;
    color: #212121;
  	font-family: 'GT America';
}
.h6{
	font-size: 16px;
    line-height: 150%;
    letter-spacing: 1.33px;
    text-transform: uppercase;
    color: #212121;
  	font-family: 'GT America';
}
button{
	font-size: 15px;
    line-height: 24px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #212121;
  	font-family: 'GT America';
}
form{
	font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #212121;
}
a{
	font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #212121;
  	font-family: 'GT America';
}
.page-container .slideshow .slick-dots{
	transform: translate(-50%, -50%);
	left: 50%;
	max-width: 1170px;
	padding-left: 0;
	margin-left: 0;
  	bottom: 15%;
}

header.site-header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
  	width: 100%;
    z-index: 10;
/*   	max-width: 1440px; */
  	max-width: 100%;
  	margin: 0 auto;
  	animation: smoothScroll 1s forwards;
  	padding-top: 8px;
  	padding-bottom: 8px;
}
header.site-header .grid{
    display: flex;
    align-items: center;
    background: transparent;
    padding-top: 15px;
/*   	max-width: 1170px; */
/*     padding-left: 55px;
    padding-right: 55px; */
  	margin: 0 auto;
}
header.site-header.sticky .grid{
    padding-top: 0;
}
header.site-header .grid .site-header__logo {
    margin: 15px 0;
}
header.site-header .grid .site-header__logo a{
    width: 100%;
    margin: 0 auto;
}
header.site-header .grid .header-cust-menu{
    flex: 1;
}
header.site-header .grid__item.medium-up--one-quarter.logo-align--left {
    order: 2;
    text-align: center;
    flex: 1;
}
header.site-header nav#AccessibleNav {
    order: 1;
    text-align: left;
    flex: 1;
  	position: absolute;
    top: 30px;
}
header.site-header nav#AccessibleNav .site-nav{
	text-align: left;
  	display: block;
}
header.site-header nav#AccessibleNav .site-nav li{
    display: block;
  	/*max-width: 500px;*/
    position: static;
    margin: 30px 0;
}
header.site-header nav#AccessibleNav .site-nav .site-nav--has-centered-dropdown{
	position: unset;
}
header.site-header nav#AccessibleNav .site-nav li .site-nav__dropdown{
	margin-top: 50px;
}
header.site-header nav#AccessibleNav .site-nav li a, header.site-header nav#AccessibleNav .site-nav li .site-nav__link--button, 
header.site-header nav#AccessibleNav .site-nav li .site-nav__dropdown ul li a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.33333px;
    text-transform: uppercase;
  	color: #000;
  	text-align: left;
    max-width: 140px;
    white-space: normal;
  	font-weight: normal;
  	padding: 4px 15px 5px;
  	opacity: 0.7;
    text-decoration: none;
}
header.site-header nav#AccessibleNav .site-nav li .site-nav__link--button .icon{
    display: none;
}
header.site-header nav#AccessibleNav .site-nav li .site-nav__link--button:hover, 
header.site-header nav#AccessibleNav .site-nav li .site-nav__link--button:focus {
    border: none;
    box-shadow: none;
    color: #000;
  	outline: none;
}
header.site-header nav#AccessibleNav .site-nav > li:last-child{
    margin-top: 100px;
}
header.site-header nav#AccessibleNav .site-nav li:last-child a{
    font-size: 12px;
  	text-transform: capitalize;
}
header.site-header nav#AccessibleNav .site-nav li .site-nav__dropdown{
    background: none;
    border: none;
    top: 0 !important;
  	/*left: 230px;*/
  	left: 300px;
    padding: 0;
    /*left: auto;
    right: 0;*/
  	width: auto;
}
header.site-header nav#AccessibleNav .site-nav li .site-nav__dropdown .site-nav__childlist .site-nav__childlist-item ul{
    position: absolute;
    top: 0;
    left: 230px;
  	display: none;
}
header.site-header nav#AccessibleNav .site-nav li .site-nav__dropdown .site-nav__childlist .site-nav__childlist-item.active ul {
    display: block;
}
header.site-header nav#AccessibleNav .site-nav__childlist .site-nav__childlist-item ul.site-child-second li a{
    max-width: 100%;
  	white-space: nowrap;
}
header.site-header nav#AccessibleNav .site-nav li .site-nav__dropdown .site-nav__childlist{
    background: none;
  	padding: 0;
}
/*header.site-header nav#AccessibleNav .site-nav li .site-nav__dropdown .site-nav__childlist:first-child li, 
header.site-header nav#AccessibleNav .site-nav li .site-nav__dropdown ul:first-child li{
    margin-top: 0;
}*/
/*header.site-header nav#AccessibleNav .site-nav li:first-child .site-nav__dropdown ul:first-child li a{
    padding-top: 5px;
}*/
/*header.site-header nav#AccessibleNav .site-nav li:first-child .site-nav__dropdown ul:first-child li a{
	padding-top: 10px;
}*/
header.site-header nav#AccessibleNav .site-nav li .site-nav__dropdown{
	margin-top:60px;
}
header.site-header nav#AccessibleNav .site-nav li .site-nav__dropdown ul li a{
	max-width:150px;
  	margin: 0;
    padding: 3px 10px;
  	display: inline-block;
    margin-bottom: 0;
    margin-top: 2px;
    text-decoration: none;
}
header.site-header nav#AccessibleNav .site-nav li .site-nav__dropdown .site-nav__childlist .site-nav__childlist-grid{
    display: block;
}
header.site-header .grid__item.medium-up--one-quarter.text-right.site-header__icons {
    order: 3;
    flex: 1;
}
header.site-header .grid .site-header__menu-toggle--open:after, header.site-header .grid .site-header__menu.mobile-nav--open:after {
    content: "";
    display: inline-block;
	/*background-image: url(aroma-menu1.png); */
  	background-image: url(HAMBURGER_Copy.svg);
    width: 24px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
  	margin-top: 5px;
  	cursor: pointer;
}
header.site-header .grid .site-header__search-toggle:after {
    content: "";
    display: inline-block;
    background-image: url(SEARCH.svg);
    width: 24px;
    height: 25px;
    background-repeat: no-repeat;
    /*background-size: cover;*/
  	margin-top: 5px;
}
header.site-header .grid .site-header__account:after {
    content: "";
    display: inline-block;
    background-image: url(ACCOUNT.svg);
    width: 24px;
    height: 25px;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}
header.site-header .grid .site-header__cart:after {
    content: "";
    display: inline-block;
    background-image: url(CART.svg);
    width: 24px;
    height: 25px;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}
header.site-header .grid .site-header__menu-toggle--open.actives:after, header.site-header .grid .mobile-nav--close:after {
    content: "";
    display: inline-block;
    background-image: url(CLOSE_BLACK_MOBILE.svg);
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    /*background-size: cover;*/
  	position: absolute;
    /*top: 30px;*/
  	top: 20px;
    z-index: 1;
}
header.site-header.sticky .grid .site-header__menu-toggle--open.actives:after {
    top: 15px;
}
header.site-header .grid .mobile-nav--close{
	outline: none;
  	width: 46px;
    height: 44px;
  	position: static;
}
 header.site-header .icon.icon-close{
/*    position:absolute; */
   top:30px;
   z-index:5;
   display:none;
 }
/*header.site-header .actives .icon.icon-close {
display: block;
}*/
header.site-header .actives .icon.icon-hamburger, header.site-header .actives .icon.icon-hamburger:after {
  display: none;
}
header.site-header .icon.icon-hamburger, header.site-header .grid .site-header__icon .icon-search, header.site-header .grid .site-header__icon .icon-login, header.site-header .grid .site-header__icon .icon-cart{
    display: none;
}
header.site-header .grid .site-header__search-toggle{
	margin-top: 3px;
}
.shopify-section header.site-header nav#AccessibleNav.desk-menu {
    width: 30%;
}
.shopify-section header.site-header nav#AccessibleNav.desk-menu2 {
    width: 62%;
}
.announcement-bar .announcement-bar__message {
    text-align: center;
    letter-spacing: 1.24583px;
    text-transform: uppercase;
    color: #F5F3F3;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
  	height: 44px;
  	font-weight: normal;
}
#shopify-section-header .announcement-bar{
	padding: 0;
}
/* .hero__inner .page-width.text-center, .slideshow__text-wrap .page-width{
	max-width: 100%;
  	max-width: 1170px;
} */
.main-content .shopify-section:nth-child(5) .page-width.rich-text{
	padding-bottom: 0;
}
.slideshow__text-wrap--desktop .page-width .slideshow__text-content-list h2{
	font-size: 50px;
  	letter-spacing: -1px;
  	line-height: 65px;
}
.slideshow__text-wrap--desktop .page-width .slideshow__text-content-list .slideshow__subtitle{
  font-weight: 275;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.3px;
  width: 100%;
  margin-bottom: 0;
}
.slideshow__text-wrap .page-width .slideshow__btn{
	font-size: 16px;
	line-height: 24px;
  	letter-spacing: 1.33px;
  	max-width: 265px;
    padding: 4px 25px;
  	min-height: 44px;
  	display: flex;
  	align-items: center;
  	font-weight: normal;
}
.hero__inner .h1.mega-title--large, .slideshow__slide.first .slideshow__text-wrap .page-width .slideshow__title, 
	.slideshow .slideshow__slide:nth-child(3) .slideshow__text-wrap h2 {
    letter-spacing: -0.285714px;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
  	font-weight: 400;
    font-family: 'GT America';
}
.hero__inner .mega-subtitle--large, .slideshow__slide.first .slideshow__text-wrap .page-width .slideshow__subtitle, 
	.slideshow .slideshow__slide:nth-child(3) .slideshow__text-wrap .slideshow__subtitle{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin: 0;
    max-width: 320px;
  	font-weight: 200;
  	display: block;
}
.hero__inner .hero__btn, .slideshow__slide.first .slideshow__text-wrap .page-width .slideshow__btn-wrapper .slideshow__btn, .slideshow__slide.third .slideshow__text-wrap .page-width .slideshow__btn-wrapper .slideshow__btn,
	.slideshow .slideshow__slide:nth-child(5) .slideshow__text-wrap .slideshow__btn, .slideshow .slideshow__slide:nth-child(3) .slideshow__text-wrap .slideshow__btn, 
	.slideshow .slideshow__slide:nth-child(4) .slideshow__text-wrap .slideshow__text-content .slideshow__btn-wrapper .slideshow__btn{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 33px;
    background: none;
  	max-width: 230px;
  	display: block;
      font-family: 'GT America';
}
.hero__inner .hero__btn:hover, .slideshow__slide.first .slideshow__text-wrap .page-width .slideshow__btn-wrapper .slideshow__btn:hover, 
	.slideshow .slideshow__slide:nth-child(3) .slideshow__text-wrap .slideshow__text-content .slideshow__btn:hover, .slideshow .slideshow__slide:nth-child(5) .slideshow__text-wrap .slideshow__btn:hover, 
	.slideshow .slideshow__slide:nth-child(4) .slideshow__text-wrap .slideshow__text-content .slideshow__btn-wrapper .slideshow__btn:hover{
	background: none;
}

/* .template-index .page-container{
    margin-top: -80px;
} */

.site-footer h4, .site-footer .h6{
    letter-spacing: 0.958333px;
    text-transform: uppercase;
    font-size: 16px;
  	/*font-size: 10px;*/
  	line-height: 24px;
  	letter-spacing: 1.33px;
  	margin-bottom:12px;
  	font-family: 'GT America';
  	color: #212121;
}
.site-footer .footer-soci-link h4, .site-footer .footer-soci-link .h4{
	font-size: 10px;
  	line-height: 24px;
  	letter-spacing: 0.958333px;
}
.site-footer__linklist-item a {
    letter-spacing: 0.958333px;
    font-size: 14px;
  	/*font-size: 10px;*/
    font-weight: 400;
    color: #000;
    margin-bottom: 0px;
    line-height: 30px;
  	text-decoration: none;
}
.site-footer .site-footer__item{
	padding: 0;
  	margin-bottom: 0;
}
.site-footer .site-footer__content{
	margin-bottom: 50px;
  	margin-top: 50px;
}
.site-footer .site-footer__hr{
	display: none;
}
.site-footer__item-inner .site-footer__rte p, .site-footer__item-inner .site-footer__rte p a {
	font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #000000;
  	margin: 0;
    max-width: 150px;
}
.site-footer__item-inner .site-footer__rte p a{
	border-bottom: none;
  	text-decoration: none;
}
.site-footer__item-inner--newsletter .newsletter__input {
    border: none;
    border-bottom: 1px solid #000000;
    background: none;
    padding-left: 0;
  	border-radius:0;
}
.site-footer__item-inner--newsletter .newsletter__input::placeholder{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 26px;
    color: #000;
  	padding-left: 0;
  	position:relative;
  	left:-2px;
}
.main-content .shopify-section .page-width.rich-text{
	/*padding-top: 45px;
  	padding-bottom: 60px;*/
/*   	padding: 60px 0; */
  	padding: 50px 0;
}
.site-footer__item-inner--newsletter .input-group__btn{
    display: none;
}
.template-index #shopify-section-1601369336396{
    padding-top: 0;
}
.template-index .main-tab-slider .tital-tab-slider{
	display: none;
}
.main-content .shopify-section h2{
	font-weight: normal;
}
.main-content .shopify-section .rich-text .rich-text__heading--medium h2{
	margin-bottom: 50px;
  	text-transform: uppercase;
} 
	.main-content .shopify-section .rich-text .rich-text__heading--small h2{
/*     text-align: center;
    letter-spacing: 1.33333px; */
    text-transform: uppercase;
/*     font-size: 16px;
    line-height: 24px;
  	color: #000; */
/*   	font-weight: bold; */
  	margin-bottom: 17px;
  	font-family: 'GT America';
}
.main-content .shopify-section .rich-text .rich-text__text--medium.rte-setting p, .main-content .shopify-section .rich-text__text--medium p, .main-content .shopify-section .rich-text__text--large p, 
 .main-content .shopify-section .rich-text .rich-text__text--small.rte-setting p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
  	color: #000;
  	opacity: 0.7;
}
.feature-row1 .page-width.feature-row {
   /* max-width: 100%;*/
/*   	max-width: 1440px; */
    padding: 0;
    background: #937557;
/*   	margin-bottom: 50px !important; */
}
.feature-row1 .page-width.feature-row .feature-row__image-wrapper{
    max-width: 100% !important;
    max-height: 503px;
    margin: 0;
  	display:flex;
}
.feature-row1 .feature-row__image-wrapper .feature-row__image{
    max-width: 100% !important;
    max-height: 503px !important;
  	/*object-fit: fill;*/
    object-fit: cover;
  	-ms-object-fit: cover;
    object-position: 50% 70%;
  	-ms-object-position: 50% 70%;
}
.feature-row1 .feature-row__text{
    text-align: center;
  	padding: 0;
}
.feature-row1 .feature-row__text h2, .page-about-us .feature-row1 .feature-row__text h2{
/*     font-size: 16px;
    line-height: 24px; */
    letter-spacing: 1.33333px;
    text-transform: uppercase;
    color: #FFFFFF;
      font-family: 'GT America';
}

.feature-row1 .featured-row__subtext p {
    font-size: 16px;
    line-height: 22.4px;
    color: #FFFFFF;
    max-width: 234px;
    text-align: center;
    margin: 40px auto 35px;
  	opacity: 0.7;
    font-family: 'GT America';
  	font-weight: normal;
}
.feature-row1 .featured-row__subtext p strong {
    color: #000;
}
.feature-row1 .feature-row__text a.btn{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 33px;
    background: none;
  	width: 178px;
  	height: 44px;
  	margin-top:10px;
  	padding:10px 0 10px 0;
      font-family: 'GT America';
  	font-weight: 500;
  	font-size: 14px;
}
/*shopify-section-feature-columns{
    background: #2B4658;
}*/
/*.b2b-power-page{
	background: #2B4658;
}*/
.b2b-power-page.our-commitment-section{
	background: #2B4658;
}
.b2b-power-page .section-feature-column.page-width{
/*     max-width: 1440px; */
/*   	background: #2B4658; */
  	padding: 55px 0;
  	padding-bottom: 0;
}
.b2b-power-page .section-feature-column .section-header{
    margin-bottom: 30px;
}
.b2b-power-page .section-feature-column .section-header h2{
/*     font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.33333px; */
    text-transform: uppercase;
    color: #FFFFFF;
  	margin-bottom:50px;
  	font-family: 'GT America';
}
.b2b-power-page .section-feature-column .grid--flush-bottom .grid__item{
    text-align: center !important;
  	width: 25%;
  	margin-bottom: 0px;
  	padding: 0 30px;
/*   	margin-bottom: 52px; */
}
.b2b-power-page .section-feature-column .grid--flush-bottom .grid__item .feature-row__image-wrapper{
	min-height: 110px;
  	max-height: 110px;
}
.b2b-power-page .section-feature-column .grid--flush-bottom .grid__item h3{
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 22.4px;
    margin: 0;
  	margin-top:46px;
  	font-family: 'GT America';
  	letter-spacing: 1px;
}
/*.shopify-section .section-collection .custom-slider, .shopify-section .section-collection .text-center a.btn{
	display: none;
}
.shopify-section:nth-child(5) .section-collection .custom-slider, .shopify-section:nth-child(5) .section-collection .text-center a.btn, 
	.shopify-section:last-child .section-collection .custom-slider{
	display: block;
}*/
.shopify-section .section-collection .custom-slider, .shopify-section .section-collection{
	height: 0;
/*   	overflow: hidden; */
  	opacity: 0;
    display: none;
  	animation: tests 2s ease-in;
  	/*transition: opacity 3s ease-in-out;*/
}
.shopify-section .section-collection .text-center a.btn{
	display: none;
}
.shopify-section.active .section-collection .custom-slider, .shopify-section.active .section-collection{
		height: auto;
/*   		width: 100%; */
        opacity: 1;
  	display: block;
/*   	transition: opacity 3s ease-in-out; */
  	animation: test 2s ease-in-out;
}
.shopify-section.active .section-collection .text-center a.btn{
	display: block;
}
.template-index .shopify-section.active .section-collection .text-center a.btn{
	display: none;
}
.shopify-section .section-collection.category-collect, .shopify-section .section-collection#scentmachines{
	height: auto;
  	width: 100%;
    opacity: 1;
  	display: block;
  	animation: none;
}

.custom-slider .owl-stage-outer .grid__item{
	width: 100%;
  	padding: 0;
  	min-height: 370px;
  	position: relative;
}
.custom-slider .owl-stage-outer .grid__item .grid-view-item__link{
	font-size: 16px;
}
.custom-slider .grid__item .product-card__image-with-placeholder-wrapper{
	background: #f1f1f1;
  	padding: 50px;
}
.custom-slider .grid__item .price .price__badges, .custom-slider .grid__item .price .price__sale .price__compare, .custom-slider .grid__item .grid-view-item > .price{
	display: none;
}
.custom-slider .owl-stage-outer .owl-item .product-card{
	margin: 0;
}
.custom-slider .product-card .product-card__title{
  	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.33px;
	text-transform: uppercase;
	color: #212121;
    display: inline-block;
/*   	max-width: 60%; */
  	margin-top: 10px;
  	border: none;
}
.section-collection .custom-slider .owl-nav.disabled{
	display: block;
}
.section-collection .custom-slider{
	overflow: unset;
  	margin: 0 auto;
  	display: block;
}
.section-collection .custom-slider .owl-nav .owl-prev{
	position: absolute;
	left: -35px;
	top: 35%;
  	outline: none;
}
.section-collection .custom-slider .owl-nav .owl-next{
	position: absolute;
	right: -35px;
	top: 35%;
  	outline: none;
}
.section-collection .custom-slider .owl-nav .owl-prev:after{
	content: "";
    display: inline-block;
    background-image: url(left-arrow.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-collection .custom-slider .owl-nav .owl-next:after{
	content: "";
    display: inline-block;
    background-image: url(right-arrow.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-collection .custom-slider .owl-nav .owl-prev span, .custom-slider .owl-nav .owl-next span{
	display: none;
}
.section-collection .custom-slider .owl-nav [class*="owl-"]:hover{
	background: none;
}
.section-collection .text-center a.btn{
	background: none;
    color: #000;
    text-decoration: underline;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 24px;
  	margin-top: 10px;
  	font-family: 'GT America';
  	padding: 0;
  	font-weight: 300;
}
.section-collection .section-header{
	margin-bottom: 30px;
}
.section-collection .section-header .collection--title, .main-tab-slider .tital-tab-slider .section-header .collection--title, .main-tab-slider .tital-tab-slider .mobile-tab-tital-div .collection--title{
/* 	font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1.24583px; */
    color: #000;
    text-transform: uppercase;
    margin: 0;
  	font-family: 'GT America';
  	cursor: pointer;
}
.main-tab-slider .tital-tab-slider {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: $wrapper-main;
    margin: 0 auto;
/*     justify-content: space-between; */
    border-bottom: 1px solid #979797;
/*     padding: 30px 0 15px; */
}
.main-tab-slider .tital-tab-slider .section-header{
	margin: 0;
  	padding: 30px 0 15px;
  	width: 25%;
  	margin-right: 20px;
}
.main-tab-slider .tital-tab-slider .section-header:last-child{
	margin-right: 0;
}
.main-tab-slider .tital-tab-slider .section-header.active{
    border-bottom: 6px solid #848484;
  	padding-bottom: 9px;
}
.section-collection, #shopify-section-collection{
	padding-bottom: 0;
}
.main-content .shopify-section{
	padding: 0;
}
.main-content .shopify-section.active .page-width.section-collection{
/* 	padding-top: 10px; */
  	padding-bottom: 25px;
  	padding-left: 0;
    padding-right: 0;
}
.template-index .main-content .shopify-section.active .page-width.section-collection{
	padding-bottom: 50px;
}
.main-content .shopify-section .page-width.section-collection hr{
	display: none;
}
.main-content .shopify-section .scent-machine{
	background: #F3F5F4;
}
.main-content .shopify-section #scentmachines{
	/*max-width: 100%;*/
/*   	max-width: 1440px; */
/*   	background: #F3F5F4; */
  	padding: 0 60px;
}
.shopify-section #scentmachines .product-card .product-card__title, .shopify-section #scentmachines .product-top .top-link{
/* 	font-size: 16px;
	line-height: 24px;
  	letter-spacing: 1.33333px; */
	text-transform: uppercase;
	color: #000000;
  	border: none;
  	font-weight: 600;
  	text-decoration: none;
  	margin: 0;
}
.shopify-section #scentmachines .product-top.scent-machines.rte {
    display: flex;
    justify-content: space-between;
    width: 100%;
  	margin: 0;
  	margin-top: 15px;
}
.shopify-section #scentmachines .product-top .reviews .fa:before{
	font-size: 17px;
}
.shopify-section #scentmachines .product-top .reviews .jdgm-prev-badge__text{
	font-size: 14px;
  	line-height: 150%;
  	font-weight: 275;
  	display: block;
    margin-left: 15px;
  	text-transform: capitalize;
}
/*.shopify-section #scentmachines .product-card__image-with-placeholder-wrapper img, .shopify-section #scentmachines .product-card__image-with-placeholder-wrapper, .shopify-section #scentmachines .product-card__image-wrapper  {
    max-height: 400px;
}*/
.shopify-section #scentmachines .product-description.rte {
    font-size: 16px;
    line-height: 22.4px;
    color: #000000;
  	margin: 0;
}
.shopify-section #scentmachines .section-header{
	padding: 25px 0 50px;
  	margin: 0;
}
.shopify-section #scentmachines .product-top .reviews .fa{
	margin-right: 5px;
}
.shopify-section #scentmachines .product-top .reviews .reviews-text {
    font-size: 10px;
    line-height: 24px;
    color: #000;
  	margin-left: 10px;
}
.shopify-section #scentmachines .product-top .reviews{
	display: flex;
    align-items: center;
}
.shopify-section #scentmachines .product-top .reviews .jdgm-prev-badge{
  	display: flex !important;
  	align-items: center;
  }
.shopify-section #scentmachines .grid__item .grid-view-item > .price, .shopify-section #scentmachines .grid__item form, 
 .shopify-section #scentmachines .product-card .product-card__title{
	display: none;
} 
.template-index .shopify-section .section-collection form{
		display: none;
}
.template-index .shopify-section .section-collection .text-center a.btn, 
  .template-index .shopify-section.active .section-collection .text-center a.btn{
	display: block;
}
.template-index .custom-slider .owl-stage-outer .grid__item{
	min-height: 330px;
}
.shopify-section #scentmachines .grid--view-items, .shopify-section #scentmachines .grid--view-items li .grid-view-item{
	margin: 0;
}
.shopify-section #scentmachines .grid--view-items li .grid-view-item .jdgm-widget{
	display: none !important;
}
.shopify-section #scentmachines .grid--view-items li {
    padding: 0 35px;
}
.shopify-section #scentmachines.section-collection .text-center a.btn{
	display: block;
    padding: 0;
    margin: 30px 0;
  	margin-bottom: 0;
}
.shopify-section #scentmachines .grid--view-items li:nth-child(1){
	border-right: 1px solid #B6B6B6;
  	padding-left: 0;
}
.shopify-section #scentmachines .grid--view-items li:nth-child(2){
	padding-right: 0;
}
.custom-slider .custom-add-to-cart {
    width: 100%;
  	position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
}
.custom-slider .custom-add-to-cart button{
	background: none;
    border: none;
    font-size: 14px;
    letter-spacing: 1.15px;
    text-transform: uppercase;
    color: #000000;
    font-family: 'GT America';
  	display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  	border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 33px;
  	height: 32px;
  	font-weight: bold;
}
.custom-slider .custom-add-to-cart button .price__regular{
	margin: 0;
  	margin-left: 7px;
}
.custom-slider .custom-add-to-cart button .price__regular dd{
	margin: 0;
}
.shopify-section .slideshow__arrows .slick-dots li a::before {
    color: #fff;
    opacity: .6;
}
.shopify-section .slideshow__arrows--mobile .slick-dots li.slick-active a::before, .shopify-section .slideshow__arrows .slick-dots li.slick-active a::before {
    color: #fff;
    opacity: 1;
}
.blog-slider .page-width{
  	padding: 0;
}
.blog-slider .hr--invisible{
	display: inline-block;
  	margin: 20px 0;
}
.blog-slider .grid .owl-stage-outer .grid__item{
	width: 100%;
  	padding: 0 15px;
}
.blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-container img,
.blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-wrapper, 
.blog-slider .grid .owl-stage-outer .grid__item .cust-date, 
.blog-slider .grid .owl-stage-outer .grid__item .article__grid-excerpt{
	width: 255px !important;
  	height: 230px !important;
  	max-width: 100% !important;
  	max-height: 100% !important;
}

.blog-slider .owl-stage-outer .grid__item .article__link{
	max-width: 100% !important;
  	max-height: 100% !important;
}
.page-width.blog-slider {
    /*max-width: 100%;*/
/*   	max-width: 1440px; */
  	padding: 0;
}
.page-width.blog-slider hr{
	margin: 25px 0;
}
.page-width.blog-slider .loop{
	margin: 0;
}
.blog-slider .page-width .grid{
		margin: 0;
}
.blog-slider .grid .owl-stage-outer .grid__item h3, .blog-slider .grid .owl-stage-outer .grid__item .article__meta-buttons, .blog-slider .grid.owl-carousel .owl-dots{
	display: none;
}
.cust-date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  	flex-wrap: wrap;
}
.blog-slider .grid .owl-stage-outer .grid__item .article__date, .blog-slider .grid .owl-stage-outer .grid__item .cust-date h3 {
	font-size: 10px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
  	margin: 0;
  	display: block;
/*   	margin: 10px 0 8px; */
    text-transform: uppercase;
    font-weight: 200;
  	font-family: 'GT America';
  	letter-spacing: 0;
}
.blog-slider .grid .owl-stage-outer .grid__item .article__date time {
  border-left: 1px solid #636464;
  padding-left: 3px;
}
.blog-slider .grid .owl-stage-outer .grid__item .cust-date h3{
	padding-right: 3px;
  	/*padding-top: 1px;*/
}
.blog-slider .grid .owl-stage-outer .grid__item .cust-date{
	height: auto !important;
  	margin: 0 auto;
  	margin-top: 10px;
    margin-bottom: 8px;
}
.blog-slider .grid .owl-stage-outer .grid__item .article__grid-excerpt {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.33333px;
    text-transform: uppercase;
    color: #000000;
    max-width: 215px;
  	font-weight: 600;
  	margin: 0 auto;
  	height: auto !important;
  	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  	text-decoration: none;
}
.blog-slider .grid .owl-stage-outer .grid__item .article__grid-meta{
	margin: 0;
/*   	height: 48px;
  	overflow: hidden; */
}
.blog-slider .grid.owl-carousel .owl-nav.disabled{
	display: block;
}
.blog-slider .grid.owl-carousel .owl-nav .owl-prev:after {
    content: "";
    display: inline-block;
    background-image: url(left-arrow-black.svg);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-slider .grid.owl-carousel .owl-nav .owl-next:after {
    content: "";
    display: inline-block;
    background-image: url(right-arrow-black.svg);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-slider .grid.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 2%;
    top: 26%;
    outline: none;
}
.blog-slider .grid.owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: 2%;
    top: 26%;
    outline: none;
}
.blog-slider .grid.owl-carousel .owl-nav span{
	display: none;
}
.blog-slider .grid.owl-carousel .owl-nav button:hover{
  background: none;
}
.blog-slider a.btn {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 33px;
    max-width: 240px;
    display: block;
    margin: 0 auto;
    background: none;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.15px;
    text-transform: uppercase;
    color: #000000;
  	margin-bottom: 30px;
  	font-family: 'GT America';
}
.blog-slider a.btn:hover{
	background: none;
  	color: #000;
}
.blog-slider .section-header h3{
/* 	font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.33333px; */
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    margin: 0;
  	font-family: 'GT America';
}
.blog-slider .section-header {
    margin-bottom: 50px;
/*     padding-top: 30px; */
}
.blog-slider{
	background: #F3F5F4;
  	padding: 0;
/*   	padding-left: 55px; */
}
.blog-slider .owl-carousel.owl-drag .owl-item.active {
    opacity: 1;
}
.blog-slider .owl-carousel.owl-drag .owl-item, .blog-slider .owl-carousel.owl-drag .owl-item.firstActiveItem,
.blog-slider .owl-carousel.owl-drag .owl-item.lastActiveItem {
    opacity: 0.5;
}
.main-tab-slider {
/*     max-width: 75%; */
    margin: 0 auto;
  	position: relative;
    clear: both;
}
.main-tab-slider .shopify-section{
/* 	max-width: 1060px; */
  	margin: 0 auto;
}
.page-width.b2b-testimonials {
/*     max-width: 1440px; */
    margin: 0 auto;
  	padding-top: 50px;
    padding-bottom: 25px;
  	/*min-height: 406px;*/
}
h1{
	font-size: 30px;
  	color: #000;
}
/* .page-width{
	max-width: 1440px;
  	margin: 0 auto;
} */
.slideshow__controls .slideshow__pause{
	display: none;
}


.page-width.b2b-testimonials.container {
  position: relative;
}
.b2b-testimonials .mySlides {
  display: none;
}
.b2b-testimonials .cursor {
  cursor: pointer;
}
.b2b-testimonials .testimonial-arrow{
	position: relative;
}
.b2b-testimonials .prev, .b2b-testimonials .next {
  cursor: pointer;
  position: absolute;
  top: -100px;
/*   width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; */
}
.b2b-testimonials .next {
  right: -35px;
  border-radius: 3px 0 0 3px;
}
/* .b2b-testimonials .prev:hover, .b2b-testimonials .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */
.b2b-testimonials .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.b2b-testimonials .caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.scroll-collection .collet-product .grid__item form {
    display: none;
}
.scroll-collection .collet-product .grid__item:hover form {
    display: block;
}

.b2b-testimonials .row:after {
  content: "";
  display: table;
  clear: both;
}
.b2b-testimonials .demo {
  opacity: 0.4;
}

.b2b-testimonials .active {
  opacity: 1;
  transition-duration: 2s;
}
.feature-row1 .feature-row__image-wrapper .img-ie{
	display: none;
}
.b2b-form .contact-form select{
	color: #000;
/*   	-webkit-appearance: menulist-button; */
}
.b2b-form .contact-form select:invalid{
	color: gray;
}
.page-container .shopify-challenge__container{
	margin-bottom: 25px;
}
.newsletter-section .contact-form .input-group { 
  justify-content: flex-end;
}
.newsletter-section .contact-form .input-group .input-group__btn {
    flex-grow: unset;
}

@media(min-width: 750px){
  	.slideshow .slick-list,
    .slideshow .slick-track {
      height: 100%; 
    }
  	.slideshow .slick-list, .slideshow .slick-track {
      height: 100% !important;
    }
  	.page-width {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    header.site-header .grid{
		padding-left: 55px;
    	padding-right: 55px;
    }
  	.b2b-power-page.our-commitment-section {
    	padding: 50px 0;
    }
  	.main-content .shopify-section #scentmachines {
    	padding: 50px 60px;
    }
  	.main-content .shopify-section .page-width.rich-text {
      padding: 50px 0;
     }
  	.main-content .shopify-section.active .page-width.section-collection {
    	padding-bottom: 50px;
    }
  	.blog-slider {
    	padding: 50px 0;
    }
    .b2b-power-page .section-feature-column .grid--flush-bottom{
        display: flex;
/*         align-items: center; */
      	width: 100%;
    	justify-content: center;
    	margin: 0;
      	flex-wrap: wrap;
    }
  	header.site-header.sticky .grid .site-header__menu-toggle--open.actives:after, header.site-header.sticky .grid .mobile-nav--close:after{
    	transition-duration: 1s;
    }
  	.site-footer .site-footer__content .site-footer__item:last-child{
  		display: none;
  	}
/*   	.template-index .page-container .index-section--slideshow:nth-child(2){
		display: none;
	} */
  	.slideshow__controls{
  		bottom: 16%;
    	justify-content: flex-start;
      	max-width: 1170px;
      	margin: 0 auto
  	}
  	header.site-header.sticky1{
  		display: block !important;
  	}
  	.site-footer__item-inner .site-footer__rte p:first-child {
      margin-bottom: 30px;
  }
}
/* @media(min-width: 430px) and (max-width: 749px){
  .section-collection .custom-slider li{
  	min-height: 380px;
  }
} */
@media (max-width: 992px){
  .shopify-section .newsletter-section .page-width{
  	    flex-direction: column;
  }
  .shopify-section .newsletter-section .section-header.text-center{
  	margin: 0 auto;
    margin-bottom: 20px;
  }
  .shopify-section .newsletter-section .contact-form .input-group{
    
  	justify-content: center;
  }
}
@media(min-width: 749px) and (max-width: 992px){
  /*.feature-row1 .page-width.feature-row .feature-row__image-wrapper, .feature-row1 .feature-row__image-wrapper .feature-row__image{
  	max-width: inherit !important;
    max-height: inherit !important;
  }*/
  .feature-row1 .feature-row .feature-row__image-wrapper div{
  	padding-top: 150% !important;
  }
  .b2b-hotel .hotel-btn, .b2b-hotel .hotel-shop-btn{
  	 align-items: unset;
  }
  .b2b-hotel .custom-width-hotel .image-bar--medium .image-bar__content, .b2b-hotel .custom-width-hotel .image-bar--medium .image-bar__item {
    height: 330px;
  }
  .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-container img,
  .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-wrapper,
  .blog-slider .grid .owl-stage-outer .grid__item .cust-date,
  .blog-slider .grid .owl-stage-outer .grid__item .article__grid-excerpt{
  	height: auto !important;
  }
  .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-container{
  	margin: 0;
  }
  .blog-slider .grid.owl-carousel .owl-nav .owl-prev, 
  .blog-slider .grid.owl-carousel .owl-nav .owl-next{
  	top: 20%;
  }
  .blog-slider .grid .owl-stage-outer .grid__item .cust-date h3{
  	padding-top: 0;
  }
  .custom-slider .owl-stage-outer .grid__item{
  	min-height: 330px;
  }
  .template-index .custom-slider .owl-stage-outer .grid__item{
  	min-height: 300px;
  }
  header.site-header nav#AccessibleNav .abc .site-nav{
  	padding-left: 43px;
  }
  header.site-header nav#AccessibleNav .site-nav li .site-nav__dropdown{
  	left: 230px;
  }
}
@media(min-width: 749px) and (max-width: 950px){
  .b2b-power-page .section-feature-column .grid--flush-bottom{
  	flex-wrap: wrap;
/*     justify-content: flex-start; */
  }
  .b2b-power-page .section-feature-column .grid--flush-bottom .grid__item{
  	width: 50%;
    margin-bottom: 50px;
  }
  .b2b-power-page .section-feature-column.page-width{
  	padding-bottom: 0;
  }
  .main-tab-slider{
  	max-width: 90%;
  }
  .custom-slider .product-card .product-card__title{
/*   	max-width: 70%; */
    font-size: 14px;
  }
  .custom-slider .custom-add-to-cart button{
  	font-size: 13px;
  }
  .custom-width .feature-app{
  	max-width: 75%;
  }
}
@media (max-width: 992px) and (min-width: 749px) {
  .desk-lock-scroll{
  	overflow: hidden;
  }
  body .shopify-section header.site-header nav#AccessibleNav.desk-menu2 {
    width: 100vw;
    width: calc(100vw + 1px)
  }
/*   .desk-lock-scroll .bars{
  	display: none !important;
  } */
  .desk-lock-scroll header.site-header .grid__item.medium-up--one-quarter.logo-align--left{
  	z-index: 1;
  }
  .b2b-testimonials .logo-bar .logo-bar__item {
    margin: 20px;
    vertical-align: unset;
  }
  /*.page-width.b2b-testimonials .prev, .page-width.b2b-testimonials .next{
  	top: 35%;
  }*/
  .b2b-testimonials .demo {
    /*opacity: 0.6;*/
    max-width: 140px;
  }
  header.site-header .grid{
  	padding-left: 0;
    padding-right: 0;
  }
  .main-content .shopify-section #scentmachines{
  	padding: 50px 40px !important;
  }
  .slideshow__text-wrap--desktop .slideshow__text-content .page-width, .site-footer .page-width{
  	padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .shopify-section #scentmachines .grid--view-items li:nth-child(1){
  	padding-right: 20px;
  }
  .shopify-section #scentmachines .grid--view-items li:nth-child(2){
  	padding-left: 20px;
  }
  .shopify-section #scentmachines .product-top .reviews .jdgm-prev-badge{
  	display: flex !important;
  }
  .site-footer .site-footer__content{
  	flex-wrap: wrap;
  }
  .site-footer .site-footer__content .site-footer__item:first-child{
  	justify-content: center;
    flex: 100%;
  }
  .site-footer .site-footer__item{
  	flex: 50%;
    margin-bottom: 30px;
  }
  .site-footer hr{
  	display: none;
  }
  footer.site-footer .grid__item.footer-logo{
  	padding: 0;
  }
  .page-container .slideshow .slick-dots{
	padding-left: 50px;
	bottom: 0;
}
}
@media (max-width: 1050px) and (min-width: 992px){
  .page-width{
  	padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .blog-slider .page-width, .feature-row1 .page-width.feature-row{
  	padding: 0 !important;
  }
  header.site-header .grid{
  	padding-left: 0;
    padding-right: 0;
  }
  .page-container .slideshow .slick-dots{
	padding-left: 50px;
	bottom: 0;
}
}
@media(min-width: 1050px){
  .blog-slider .grid.owl-carousel .owl-nav .owl-next{
  	right: 10%;
  }
  .blog-slider .grid.owl-carousel .owl-nav .owl-prev{
  	left: 10%;
  }
  .blog-slider .grid .owl-stage-outer .grid__item{
  	padding: 0;
  }
/*   .b2b-power-page .section-feature-column .grid--flush-bottom .grid__item{
  	width: 16.5%;
  } */
/*   .b2b-power-page .section-feature-column.page-width{
  	max-width: $wrapper_narrow;
  } */
  .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-container img,
  .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-wrapper, 
  .blog-slider .grid .owl-stage-outer .grid__item .cust-date, 
  .blog-slider .grid .owl-stage-outer .grid__item .article__grid-excerpt{
  /* 	width: 255px !important;
      height: 230px !important; */
      width: 220px !important;
      height: 180px !important;
      max-width: 100% !important;
      max-height: 100% !important;
      object-fit: cover;
  }
  .blog-slider .grid .owl-stage-outer .grid__item .cust-date, 
  .blog-slider .grid .owl-stage-outer .grid__item .article__grid-excerpt{
  	height: auto !important;
  }
}
@media(min-width: 1020px) and (max-width: 1150px){
	.slideshow-wrapper .slideshow--medium {
    	max-height: 530px;
	}
  	.slideshow-wrapper .slideshow__controls {
        bottom: 50px;
        justify-content: flex-start;
    }
}
@media(min-width: 1300px){
  .feature-row1 .page-width.feature-row .feature-row__image-wrapper, .feature-row1 .feature-row__image-wrapper .feature-row__image{
  	max-width: 100% !important;
    max-height: 503px !important;
  }
  .feature-row1 .feature-row__image-wrapper .feature-row__image 
  .feature-row1 .feature-row .feature-row__image-wrapper div{
  	padding-top: 150% !important;
  }
  .slideshow-wrapper .slideshow--medium {
    	max-height: 700px;
	}
}

@media(max-width: 749px){
  footer.site-footer h4, footer.site-footer .h6{
		font-weight: normal;
      	padding: 12px 0;
      	margin: 0;
    }
  .slideshow-wrapper .slideshow__text-wrap--desktop .slideshow__text-content.text-left .page-width{
  	position: static;
  }
  .slideshow-wrapper .slideshow .slick-active .slideshow__text-content.slideshow__text-content--vertical-center{
  	margin-bottom: 0;
  }
  .slideshow__text-wrap--desktop .page-width .slideshow__text-content-list h2{
  	font-size: 40px;
    line-height: 48px;
  }
  .slideshow__text-wrap--desktop .page-width .slideshow__text-content-list .slideshow__subtitle{
  	font-size: 16px;
    line-height: 24px;
  }
  .slideshow__text-wrap .page-width .slideshow__btn{
  	max-width: 100%;
    justify-content: center;
  }
/*   .slideshow-wrapper .slideshow .slick-track, .slideshow-wrapper .slideshow .slick-list{
  	height: auto !important;
  } */
  	.page-container .slideshow .slick-dots{
	padding-left: 20px;
	padding-top: 30px;
    bottom: 0;
}
  	.blog-slider .owl-carousel.owl-drag .owl-item.firstActiveItem,
    .blog-slider .owl-carousel.owl-drag .owl-item.lastActiveItem{
		opacity: 1;
    }
    .b2b-power-page.our-commitment-section, .main-content .shopify-section #scentmachines, .main-content .shopify-section .page-width.rich-text{
		padding-top: 50px;
      	padding-bottom: 50px;
    }
    .collect-nav .aroma-oils-header .nav-title{
		display: block;
      	position: unset;
    }
    .blog-slider {
		padding: 0;
      	padding-bottom: 50px;
      	padding-top: 50px;
    }
    .template-index .shopify-section .section-collection .text-center a.btn, 
    .template-index .shopify-section.active .section-collection .text-center a.btn{
		display: block;
    }
    .template-index .shopify-section .section-collection form{
		display: none;
    }
    .template-index .custom-slider li{
		min-height: 300px;
      	margin-bottom: 0;
      	padding-top: 0;
    }
  #powrIframeLoader{display: none;}
/*   	.template-index .page-container .index-section--slideshow:first-child{
		display: none;
	} */
  	.template-index .page-container{
  		margin-top: -60px;
  	}
    header.site-header{
      	padding: 0 20px;
    }
    .b2b-power-page .section-feature-column .page-width .grid--flush-bottom{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .site-footer .site-footer__content .site-footer__item{
		margin-bottom: 0;
    }
    .site-footer .site-footer__content .site-footer__item:nth-child(2){
		display: none;
    }
    .site-footer .site-footer__content .site-footer__item .site-footer__item-inner{
		width: 100%;
    }
  	.site-footer .site-footer__content .site-footer__item .site-footer__item-inner .site-footer__linklist{
        display: none;
    }
  	.site-footer .site-footer__content .site-footer__item .site-footer__item-inner.active .site-footer__linklist{
        display: block;
      	padding-bottom: 10px;
    }
    .site-footer .site-footer__content .site-footer__item .site-footer__item-inner .h4{
		margin: 0;
        padding: 10px 0;
        letter-spacing: 1.33333px;
        text-transform: uppercase;
        color: #000000;
        font-size: 16px;
        font-weight: 300;
        border-bottom: 1px solid #7D7D7D;
        width: 100%;
    }
    .site-footer .site-footer__content .site-footer__item .site-footer__item-inner:first-child .h4{
		border-bottom: none;
    }
    .site-footer .site-footer__content{
		margin-bottom: 0;
    }
    .site-footer .footer-soci-link{
      margin-top: 15px;
    }
  	.footer-bottom-section .grid--no-gutters .grid__item{
  	  display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 300px;
      margin: 0 auto;
      float: none;
  	}
  	.site-footer .footer-bottom-section .grid--no-gutters .grid__item .site-footer__copyright-content--privacy, 
  	.site-footer .footer-bottom-section .grid--no-gutters .grid__item .site-footer__copyright-content--terms{
  	  color: #ba9163 !important;
      font-size: 10px;
      text-transform: capitalize;
      padding: 0 8px;
      display: block;
  	}
    .footer-bottom-section .grid--no-gutters .grid__item .site-footer__copyright-content--terms{
      padding: 0;
    }
  	.site-footer .footer-bottom-section .grid--no-gutters .grid__item .site-footer__copyright-content--inc{
  	  text-transform: capitalize;
      padding-left: 5px;
      display: block;
  	}
    header.site-header .mob-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        background: #F5F3F3;
        width: 100%;
        font-size: 13px;
        max-height: 96px;
        box-sizing: border-box;
      	/*position: fixed;
        bottom: 0;*/
      	position: absolute;
      	bottom: 50px;
        width: 100%;
        left: 0;
    }
    header.site-header .mob-links .search-bar__input{
		display: none;
    }
  	header.site-header .mobile-nav-wrapper .mobile-nav > li:last-child, header.site-header .mobile-nav-wrapper .mobile-nav__return-btn .icon {
        display: none;
    }
    .b2b-power-page .section-feature-column .grid--flush-bottom .grid__item{
        width: 50%;
        padding: 0 20px;
    }
  	.b2b-power-page .section-feature-column .grid--flush-bottom .grid__item:nth-child(even) {
        padding-left: 10px;
    }
  	.b2b-power-page .section-feature-column .grid--flush-bottom .grid__item:nth-child(odd) {
        padding-right: 10px;
    }
  	.b2b-power-page .section-feature-column .grid{
  		margin-left: 0;
  	}
  	header.site-header .mobile-nav-wrapper .mobile-nav__return-btn:after {
        content: "";
        display: inline-block;
        background-image: url(LEFT_ARROW.png);
        width: 24px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        /*top: 35px;*/
      	top: 25px;
        left: 50%;
        margin: -6px 0 0 -7px;
    }
  	header.site-header.sticky .mobile-nav-wrapper .mobile-nav__return-btn:after {
        top: 23px;
    }
    header.site-header .grid .mobile-nav--close:after{
		/*top: 35px;*/
      	top: 20px;
      	width: 21px;
    	height: 21px;
    }
    header.site-header .mobile-nav-wrapper .mobile-nav__table-cell{
      	border: none;
    }
    #shopify-section-feature-row .feature-row__text--left{
        padding: 50px 0;
    }
    #shopify-section-feature-row .feature-row__text--left h2{
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.285714px;
        text-transform: capitalize;
    }
    #shopify-section-feature-row .featured-row__subtext p{
        margin-top: 50px;
        margin-bottom: 60px;
    }
  	header.site-header .mobile-nav-wrapper{
        height: 100vh !important;
        top: 50px;
        transition: none;
        transform: none !important;
    }
  	header.site-header .mobile-nav-wrapper .mobile-nav__dropdown:focus, 
  	header.site-header .mobile-nav-wrapper ul li .mobile-nav__link{
        outline: none;
    }
  	header.site-header .mobile-nav-wrapper .mobile-nav{
        height: 100% !important;
    }
  	header.site-header .grid .site-header__menu-toggle--open, header.site-header .grid .site-header__icon.site-header__search-toggle, header.site-header .grid .site-header__icon.site-header__account, 
  	header.site-header .grid .header-cust-menu{
        display: none;
    }
   	header.site-header .grid .site-header__logo{
        width: 100%;
      	text-align: center;
      	padding-left: 0;
/*     	margin-top: 10px; */
    }
    header.site-header .grid__item.medium-up--one-quarter.text-right.site-header__icons{
      flex: 0;
      padding: 0;
    }
    header.site-header .mob-links .search-bar__submit, header.site-header .mob-links .mob-login a {
	  text-align: center;
      letter-spacing: 1.24583px;
      text-transform: uppercase;
	  color: #000000;
      font-size: 13px;
	  line-height: 24px;
      right: 25px;
      font-weight: bold;
    }
  	.lock-scroll {
      overflow: hidden;
    }
  	.site-footer__item-inner--newsletter .newsletter__input::placeholder{
  		font-size:16px;
    }
  	.site-header__logo-image img {
        height: auto;
        max-width: 130px !important;
        margin: 0 auto;
    }
  	header.site-header .grid .site-header__cart:after{
        margin-top: 5px;
    }
  	.main-content .shopify-section .rich-text .rich-text__text--medium.rte-setting p, .main-content .shopify-section .rich-text__heading--medium p,
  	.main-content .shopify-section .rich-text__text--large p, .main-content .shopify-section .rich-text__text--small p{
    	max-width: 300px;
    }
  	.site-footer__item .site-footer__item-inner.site-footer__item-inner--text{
  		letter-spacing: 0.958333px;
        font-size: 10px;
        font-weight: 400;
        color: #000;
        margin-bottom: 0px;
        line-height: 24px;
  	}
  	.b2b-power-page .section-feature-column.page-width{
  		padding-top: 45px;
      	padding-bottom: 73px;
  	}
  	.site-footer__item .site-footer__item-inner.site-footer__item-inner--text p{
  		margin: 0;
  	}
  	.site-footer__item .site-footer__item-inner.site-footer__item-inner--text .site-footer__rte, .site-footer .footer-soci-link h4{
  		display: none;
  	}
  	.site-footer__item .site-footer__item-inner.site-footer__item-inner--text.active .site-footer__rte{
    	display: block;
    }
  	footer.site-footer .footer-soci-link{
  		margin: 0;
  	}
  	footer.site-footer ul.list--inline.site-footer__social-icons.social-icons.site-footer__icon-list{
  		padding-top: 30px;
      	padding-bottom: 50px;
  	}
  	footer.site-footer .site-footer__rte a{
  		border-bottom: none;
  	}
/*   	.main-content .shopify-section{
  		padding: 0;
  	} */
  	.custom-slider{
  		display: block;
      	width: 100%;
      	margin: 0 auto;
  	}
  	.section-collection hr{
  		display: none;
  	}
  	.custom-slider li{
  		padding: 10px;
      	position: relative;
    	min-height: 326px;
      	margin-bottom: 15px;
  	}
  	.shopify-section.active .section-collection .text-center a.btn {
        display: block;
        font-size: 16px;
    	margin-top: 15px;
      	font-family: 'GT America';
    }
  	.main-tab-slider {
        max-width: 100%;
        margin: 0 30px;
    }
  	.custom-slider .product-card .product-card__title{
  		max-width: 100%;
      	margin-top: 16px;
  	}
  	.custom-slider .custom-add-to-cart{
  		padding: 0 7px;
  	}
  	.custom-slider .grid__item--collection .product-card__image-with-placeholder-wrapper, 
  	.custom-slider .grid__item .product-card__image-with-placeholder-wrapper{
  		padding: 25px;
  	}
 	.custom-slider .product-card{
  		margin-bottom: 15px;
  	}
  	.feature-row1 .feature-row__text--left{
  		padding:50px 0;
      	/*padding-top: 100px;*/
    }
  	.feature-row1 .feature-row__text--left h2{
  		font-size: 40px;
    	line-height: 48px;
    	text-align: center;
    	letter-spacing: -0.285714px;
      	text-transform: capitalize;
      	margin: 0;
    }
  	.feature-row1 .featured-row__subtext p{
  		margin-top:40px;
      	margin-bottom:50px;
      	opacity:0.7;
      	max-width: 300px;
    }
  	.feature-row1 .feature-row__text--left a.btn{
  		width:228px;
      	height: 34px;
      	/*padding:3px 0 7px 0;*/
      	font-weight:100;
      	display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
  	.b2b-power-page .section-feature-column .grid--flush-bottom .grid__item{
		margin-bottom: 50px;
 	 }
    .b2b-power-page .section-feature-column .grid{
      display: flex;
      flex-wrap: wrap;
    }
  	.slideshow .slideshow__slide:nth-child(3) .slideshow__text-wrap .slideshow__subtitle,
  		.slideshow .slideshow__slide:nth-child(5) .slideshow__text-wrap .slideshow__subtitle, 
  		.slideshow .slideshow__slide:nth-child(5) .slideshow__text-wrap .slideshow__text-content .slideshow__btn-wrapper .slideshow__btn,
  		.slideshow .slideshow__slide:nth-child(3) .slideshow__text-wrap .slideshow__text-content .slideshow__btn-wrapper .slideshow__btn {
        	display: none !important;
        }
  .main-tab-slider .tital-tab-slider .section-header{
  	width: 100%;
    padding: 0;
    /*display: none;*/
  }
  .main-tab-slider .tital-tab-slider .section-header.active{
  	border: none;
    display: block;
    padding: 0;
  }
  .main-tab-slider .tital-tab-slider .section-header h2, .main-tab-slider .tital-tab-slider .mobile-tab-tital-div h2{
  	text-align: left;
  }
  .main-tab-slider .tital-tab-slider .section-header h2{
  	padding: 10px 15px;
  }
  .main-tab-slider .tital-tab-slider .mobile-tab-tital-div{
  	width: 100%;
    padding: 10px 45px;
  }
  .main-tab-slider .tital-tab-slider .mobile-tab-tital {
    
    position: absolute;
    background: #fff;
    width: 100%;
    top: 100%;
    z-index: 3;
    box-shadow: -3px 3px 3px 3px #f1f1f1;
  }
  .main-tab-slider .tital-tab-slider{
  	border-bottom: none;
    margin-top: 20px;
    width: 95%;
    height: 50px;
/*     margin: 0 25px; */
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 45px;
/*     padding: 10px 45px; */
    position: relative;
  }
  
  .main-tab-slider .tital-tab-slider .mobile-tab-tital-div:after {
    content: "";
    display: inline-block;
    background-image: url(bottom-arrow.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 45px;
    top: 10px;
  }
  .main-tab-slider .tital-tab-slider.active .mobile-tab-tital-div:after{
  	transform: rotate(180deg);
    top: 15px;
    transition-duration: 1s;
  }
  .custom-slider .product-card .product-card__title{
  	font-size: 12px;
  }
  .custom-slider .custom-add-to-cart button{
  	font-size: 12px;
    justify-content: center;
    padding: 0;
  }
  .custom-slider .custom-add-to-cart button .price__regular, .custom-slider .custom-add-to-cart button .price__regular dd{
  	margin: 0;
  }
  .custom-slider .custom-add-to-cart button .price__regular{
  	margin-left: 5px;
  }
  .shopify-section #scentmachines .grid--view-items li:nth-child(1){
  	border-right: none;
    border-bottom: 2px solid #979797;
  }
  .shopify-section #scentmachines .grid--view-items li{
  	padding: 0;
  }
  .shopify-section #scentmachines .section-header{
  	padding-bottom: 50px;
  }
  .shopify-section #scentmachines .product-top.scent-machines.rte{
  	margin-top: 0;
  }
  .shopify-section #scentmachines li:nth-child(1) .product-description.rte{
  	margin-bottom: 50px;
  }
  .shopify-section #scentmachines li:nth-child(2) .product-top.scent-machines.rte{
  	margin-top: 40px;
  }
  .shopify-section #scentmachines.section-collection .text-center a.btn{
  	margin: 50px 0 22px;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 1.33333px;
  }
  .main-content .shopify-section #scentmachines{
  	padding: 50px 30px;
   /* padding-bottom: 0;*/
  }
  .shopify-section #scentmachines .product-top .reviews{
  	margin-top: 10px;
    margin-left: 0;
  }
  .shopify-section #scentmachines .product-top .reviews .jdgm-prev-badge {
    display: flex !important;
    width: 100%;
  }
  .shopify-section #scentmachines .product-top .reviews .jdgm-prev-badge .jdgm-prev-badge__stars{
  	display: block;
  }
  .blog-slider .grid.owl-carousel .owl-nav.disabled {
  	display: none;
  }
  .blog-slider .grid .owl-stage-outer .grid__item .cust-date{
  	margin-bottom: 0;
  }
  .blog-slider .grid .owl-stage-outer .grid__item .article__date, .blog-slider .grid .owl-stage-outer .grid__item .cust-date h3{
  	/*margin-top: 20px;*/
    display: block;
    margin-bottom: 0;
    padding-top: 0;
  }
  .blog-slider a.btn{
  	margin-bottom: 45px;
  }
  .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-container img, .blog-slider .owl-stage-outer .grid__item .article__link, 
   .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-wrapper{
  	width: 270px !important;
    height: 280px !important;
    max-width: 100% !important;
    max-height: 100% !important;
     object-fit: cover;
  }
  .blog-slider .grid .owl-stage-outer .grid__item{
  	padding: 0 20px;
  }
  .page-width.blog-slider hr{
  	margin: 40px 0;
  }
/*   .slideshow .slideshow__text-wrap--desktop {
    display: none;
  } */
  .blog-slider .grid .owl-stage-outer .grid__item .article__grid-excerpt, 
  .blog-slider .grid .owl-stage-outer .grid__item .cust-date{
  	 height: auto !important;
     width: auto !important;
  }
}
@media(min-width:450px) and (max-width: 600px){
  
  .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-container img,
  .blog-slider .owl-stage-outer .grid__item .article__link,
  .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-wrapper{
  	height: 100% !important;
     width: 100% !important;
  }
  .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-container{
  	margin: 0;
  }
}
@media(max-width: 380px){
	.custom-slider .custom-add-to-cart button{
  	font-size: 11px;
      padding: 0;
  }
  .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-container img,
  .blog-slider .owl-stage-outer .grid__item .article__link, .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-wrapper{
  	height: auto !important;
  }
  .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-container{
  	margin: 0;
  }
  .main-tab-slider{
  	margin: 0 15px;
  }
}
@media(max-width: 360px){
  .main-content .shopify-section .page-width.rich-text{
  	    padding: 53px 30px 65px !important;
  }
}
@media(max-width: 350px){
  .custom-slider .custom-add-to-cart button{
  	font-size: 10px;
  }
  .custom-width .feature-app{
  	max-width: 260px;
  }
  .main-tab-slider{
  	margin: 0 15px;
  }
}
/* @media(max-width: 335px){
  .custom-slider li{
  	min-height: 316px;
  }
}
@media(max-width: 325px){
  .custom-slider li{
  	min-height: 306px;
  }
} */


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/*   .feature-row1 .page-width.feature-row .feature-row__image-wrapper,
  .feature-row1 .feature-row__image-wrapper .feature-row__image{
  	max-height: 100% !important;
  } */
  .blog-slider .owl-stage-outer .grid__item .article__link .article__grid-image-container{
  	background: none;
  }
  .blog-slider .grid .owl-stage-outer .grid__item .cust-date h3{
  	padding-top: 0;
  } 
  .feature-row1 .feature-row__image-wrapper div.img-ie, .feature-row1 .feature-row .feature-row__image-wrapper div{
	display: block;
    padding-top: 95% !important;
  }
  .feature-row1 .feature-row__image-wrapper .feature-row__image{
  	display: none;;
  }
  header.site-header .grid .site-header__logo a img{
  	max-width: 100%;
  }
  header.site-header .grid{
  	width: 100%;
    box-sizing: border-box
  }
  
  header.site-header .grid__item.medium-up--one-quarter.logo-align--left,
  header.site-header .grid .header-cust-menu, 
  header.site-header .grid__item.medium-up--one-quarter.text-right.site-header__icons{
  	width: 30%;
  }
  
  header.site-header .grid .header-cust-menu{
  	order: -1;
  }
  .shopify-section.active .section-collection .custom-slider, .shopify-section.active .section-collection .text-center a.btn{
  	overflow: visible;
  }
  .shopify-section #scentmachines .product-top.scent-machines.rte link{
  	display: none;
  }
  .shopify-section #scentmachines .grid--view-items li .grid-view-item .product-card__image-with-placeholder-wrapper{
  	background: none;
  }
  header.site-header nav#AccessibleNav .site-nav .site-nav--has-centered-dropdown{
  	position: static;
  }
  
}


/* Reviews Widget */

.jdgm-rev-widg__header {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.avg-rating > span {
  font-family: 'GT America';
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  font-size: 26px;
}

.jdgm-rev-widg__summary .jdgm-rev-widg__summary-stars {
    margin-left: 21px;
    display: flex;
    align-items: center;
  	padding-top:4px;
}

.jdgm-rev-widg__summary-text {
  	font-family: 'GT America';
    visibility: unset;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 24px;
    color: #000;
    padding-top: 6px;
  	text-transform: capitalize;
}

/*.jdgm-rev-widg__summary-stars .jdgm-star {
 	padding-right: 2px !important; 
}

.jdgm-rev-widg__summary-stars .jdgm-star:last-of-type {
  padding-right: 0 !important; 
}*/


.jdgm-widget-actions-wrapper a {
  	width: 177px;
    font-family: 'GT America';
    letter-spacing: 1.15px;
    text-transform: uppercase;
  	font-weight: 600;
}

.product-review-box .page-width {
    padding: 0 117px 0 128px;
}


.jdgm-rev-widg {
 padding: 0 !important; 
}

.jdgm-widget-actions-wrapper {
 	 margin-left: auto !important;
}

.jdgm-rev-widg__sort-wrapper {
  margin-left: 11px !important;
}

.jdgm-widget .jdgm-sort-dropdown-wrapper {
    margin-top: 0 !important;
}

.jdgm-sort-dropdown {
 	width: 177px !important;
    padding: 6px 34px 6px 29px !important;
    font-weight: 600 !important;
    height: auto !important;
}

.jdgm-sort-dropdown {
 background-image: url(//cdn.shopify.com/s/files/1/0500/3863/6694/t/3/assets/a_down.png) !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-position: calc(100% - 14px) calc(100% - 12px) !important;
  background-repeat: no-repeat !important;
}

.jdgm-sort-dropdown-arrow {
 display: none !important; 
}


.jdgm-quest, .jdgm-rev {
  border-top: 2px solid #000 !important;
}

.jdgm-quest:last-of-type, .jdgm-rev:last-of-type {
    border-bottom: 2px solid #000 !important;
}

.jdgm-rev__icon,
.jdgm-rev__reply,
.jdgm-rev__actions {
 display: none; 
}

.jdgm-rev-widg__reviews > div {
  display: flex;
  justify-content: space-between;
  padding: 11px 0 13px 0;
}


.jdgm-rev__header {
    display: flex;
  	flex-wrap: wrap;
  	width: 36%;
  	height: 48px;
}

.jdgm-rev__content {
    width: 48%;
}

.jdgm-rev__author-wrapper {
    font-weight: bold;
    order: 0;
  	width: 75%;
  	margin-left: 0 !important;
}

span.jdgm-rev__rating {
    order: 1;
  	width: 25%;
}

.jdgm-rev__timestamp {
    opacity: 1 !important;
    margin-left: 0 !important;
  	order: 2;
}

.jdgm-buyer-badge--right-of-timestamp .jdgm-rev__buyer-badge-wrapper {
 display: none; 
}

.jdgm-rev__title  {
    font-size: 16px !important;
    line-height: 24px !important;
}

.jdgm-rev__body > p {
    font-size: 16px;
    color: #000;
    line-height: 24px;
}

#judgeme_product_reviews > .jdgm-rev-widg {
 	margin-bottom: 56px;
  	margin-top: 20px;
}


.jdgm-question-form-wrapper, .jdgm-form-wrapper {
    margin-top: 0 !important;
    background: #fff;
    z-index: 1;
    width: 50%;
    margin: 0 auto !important;
    padding: 25px;
    border: 1px solid #000 !important;
}

.jdgm-notification {
  padding-top: 0!important;
  margin-top: 0!important;
  border: 0!important;
}

.jdgm-rev-widg__body .jdgm-paginate {
  padding-top: 37px; 
}

.jdgm-paginate .jdgm-paginate__page {
  	font-family: 'GT America';
    display: inline-block;
    line-height: 1;
    padding: 4px 8px;
    cursor: pointer;
    vertical-align: middle;
  	font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.846154px;
    text-transform: uppercase;
  	text-decoration-line: initial;
    color: #212121;
}

.jdgm-paginate .jdgm-paginate__page.jdgm-curt {
    font-weight: bold;
    pointer-events: none;
  	font-size: 18px;
}

.jdgm-paginate__first-page,
.jdgm-paginate__last-page {
 display: none !important; 
}

a.jdgm-paginate__next-page:before {
    content: '';
    width: 19px;
    height: 19px;
    display: block;
    background: url(https://cdn.shopify.com/s/files/1/0500/3863/6694/t/2/assets/arrow_right.png);
}

a.jdgm-paginate__prev-page:before {
    content: '';
    width: 19px;
    height: 19px;
    display: block;
    background: url(https://cdn.shopify.com/s/files/1/0500/3863/6694/t/2/assets/arrow_left.png);
}


a.jdgm-paginate__page.jdgm-paginate__prev-page {
    margin-right: 30px;
}

a.jdgm-paginate__page.jdgm-paginate__next-page {
  margin-left: 30px;
}

@media only screen and (max-width: 767px) {
  .page-header-wrapper {
   	 padding: 192px 0 199px 55px !important;
  }
  .sezzle-button-text.sezzle-left.szl-light {
   font-size: 9px !important; 
  }
  .jdgm-rev-widg__body .jdgm-paginate {
      padding-top: 25px; 
  }

  a.jdgm-paginate__next-page,
  a.jdgm-paginate__prev-page {
   	  display:none !important; 
  }
  
  .jdgm-paginate a.jdgm-paginate__page {
      width: 6px;
      height: 6px;
      font-size: 0px !important;
      line-height: 0;
      padding: 0;
      background: #4A4A4A;
      letter-spacing: 0;
      margin: 0 4px;
      border-radius: 50%;
      vertical-align: top;
  }
  
  .jdgm-paginate .jdgm-paginate__page.jdgm-curt {
      background: #B5B5B5;
  }
  
 	#judgeme_product_reviews > .jdgm-rev-widg {
      margin-bottom: 49px;
      margin-top: 46px;
	}
  
  .jdgm-notification {
    margin-top: 12px!important;
  }
  
  	#judgeme_product_reviews .jdgm-question-form-wrapper, .jdgm-form-wrapper {
     	width: 100% !important;
      	margin-top: 12px !important;
    }
  
    .product-review-box .page-width {
        padding: 0 32px;
    }
  
  	.jdgm-rev-widg__header {
     	height: auto;
      	flex-wrap: wrap;
    }
  
  	.jdgm-widget-actions-wrapper a {
     	width: 100%;
      	margin-top: 7px;
    }
  
  	.jdgm-rev-widg__sort-wrapper {
        margin-left: 0 !important;
      	margin-top: 12px !important;
        width: 100%;
    }
  
  	.jdgm-widget .jdgm-sort-dropdown-wrapper,
  	.jdgm-sort-dropdown.jdgm-sort-dropdown {
      width: 100% !important;
      height: auto !important;
    }
  
  	.jdgm-sort-dropdown {
        width: 100% !important;
        padding: 6px 0!important;
        text-align-last: center;
    }
  
  	.jdgm-rev-widg__header {
      	margin-bottom: 35px !important;
  	}
  
  	.jdgm-rev-widg__reviews > div {
        flex-wrap: wrap;
        padding: 23px 0 29px 0;
    }
  
  	.jdgm-rev__header,
  	.jdgm-rev__content {
     	width: 100%; 
    }
  
  	.jdgm-rev__author-wrapper,
  	span.jdgm-rev__rating {
     	width: auto; 
    }
  
  	.jdgm-rev__header {
      	display: block;
    	margin-bottom: 24px !important;  
    }
  
    span.jdgm-rev__rating {
     	text-align: right;
      	float: right;
    }
  
  	.jdgm-rev__timestamp {
     	display: block;
        position: absolute;
        top: 46px; 
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .product-review-box .page-width {
      padding: 0 60px;
  }
}

@media only screen and (max-width: 352px) {
  .avg-rating > span {
   	font-size: 16px;
    top: 3.5px;
    position: relative;
  }
}

@media only screen and (max-width: 331px) {
  .avg-rating > span {
   	font-size: 10px;
    top: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .product-review-box .page-width {
      padding: 0 60px;
  }
}

.sezzle-checkout-button-wrapper .sezzle-button-text .sezzle-payment-amount {
 font-weight: 300 !important; 
}
.sezzle-button-text.sezzle-left.szl-light {
    height: 20px!important; 
    line-height: 20px!important; 
    font-family: 'GT America'!important; 
}

.sezzle-checkout-button-wrapper .sezzle-button-text .sezzle-info-icon {
 display: none!important; 
}

.sezzle-shopify-info-button .sezzle-checkout-button-wrapper .sezzle-button-text .szl-light-image {
    height: 8px!important;
    margin-bottom: -1px !important;
    margin-left: 8px !important;   
}

/* page header styles */

.custom-page-header.template-page .page-container,
.custom-page-header.template-page #shopify-section-header{
    max-width: 100%;
    margin: 0;
  	margin-top: 0 !important;
}

.custom-page-header.template-page .main-content {
 	padding-top: 0; 
}

.custom-page-header.template-page header.site-header {
    position: absolute;
    width: 100%;
}

.custom-page-header.template-page .page-width {
 	margin-top: 42px; 
}

.page-header-wrapper {
	height: 456px;
  	background-size: cover;
    background-repeat: no-repeat;
  	padding: 192px 0 199px 216px;
}

.page-header-wrapper > h1 {
 	height: 65px;
  	font-size: 50px;
  	line-height: 65px;
  	font-family: 'GT America';
  	color: #212121;
  	font-weight: 600;
}

.jdgm-widget label.error {
    background: #fff !important;
    margin-top: 5px !important;
    font-size: 12px !important;
    font-style: italic !important;
}

.page-wrapper {
 padding: 50px 0 27px 0; 
}

.page-wrapper h2 {
  font-family: 'GT America';
  font-style: normal;
  font-weight: 275;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.5px;
  color: #212121;
  margin-bottom: 23px;
}



.page-wrapper h3,
.page-wrapper h4,
.page-wrapper h5,
.page-wrapper h6,
.page-wrapper p {
  margin-top: 0;
  margin-bottom: 23px;
  font-family: 'GT America';
  color: #212121;
  font-size: 16px;
  letter-spacing: 1.33px;
  line-height: 24px;
}

.page-wrapper .rte p {
  margin-bottom: 23px;
  line-height: 22px;
  letter-spacing: initial;
}


.page-wrapper .rte .h2 {
  font-weight: 275;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.5px;
}

.page-wrapper .rte .h3 {
  	font-size: 26px;
	line-height: 34px;
	letter-spacing: 1.33px;
}

.page-wrapper .rte .h4 {
  	font-size: 22px;
	line-height: 29px;
	letter-spacing: 0.3px;
}

.page-wrapper .rte .h5 {
  	font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.9px;
}

.page-wrapper .rte .h6 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.33px;
  text-transform: uppercase;
  font-weight: 600;
}

.page-wrapper .rte a {
  font-family: 'GT America';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #212121;
}

.page-wrapper .rte .button {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #212121;
}