{% section 'slideshow' %}
{% section 'page-about-richtext' %}
{% section 'about-us-story' %}
{% section 'about-us-philoshofy' %}
{% section 'about-us-technology' %}
{% section 'about-us-blog' %}

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
